{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="TW314 é um sistema de acompanhamento de fila feito para o século 21">
    <title>TW314</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicons/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicons/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicons/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicons/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicons/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicons/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicons/apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicons/apple-touch-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicons/apple-touch-icon-180x180.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "img/favicons/android-chrome-192x192.png" %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-16x16.png" %}" sizes="16x16">
    <link rel="manifest" href="{% static "img/favicons/manifest.json" %}">
    <link rel="mask-icon" href="{% static "img/favicons/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static "img/favicons/mstile-144x144.png" %}">
    <meta name="theme-color" content="#f16000">
    <!-- CSS-->
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/hover-min.css" %}">
    <link rel="stylesheet" href="{% static "css/backtotop.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen,projection">
</head>
<body>
<header class="master">
    <div class="page-header">
        <a href="{% url 'home.views.suporte_cadastro_status' %}" class="top-menu"></a>
    </div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a href="principal" class="logo white-text valign-wrapper ">
                            <img src="{% static "img/logo-certa.png" %}" class="responsive-img" alt="logo TW314"> <span class="flow-text_2 arial_round valign">TW<span class="principal_v2_text">314</span></span>
                        </a>
                    </li>
                </ul>
                <span class="light hide-on-med-and-down brand-logo center">Bem-vindo à página {% block titulo %}{% endblock %}, Funcionário</span>
                <ul class="right">
                    <li><a class="white-text light" href="../login"><span class="hide-on-small-and-down"> SAIR </span> <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<main class="content base_bg">
    {%  block master %}

    {% endblock %}
</main>
<footer  class="master page-footer wow fadeInUp">
    <div class="container hide-on-large-only">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">Mapa</h5>
                <ul class="uppercase texto_text">
                    <li><a href="principal">Principal</a></li>
                    <li><a href="cadastro_admin">Administrador</a></li>
                    <li><a href="cadastro_estabelecimento">Estabelecimento</a></li>
                    <li><a href="atendimento">Atendimento</a></li>
                    <li><a href="cadastro_servico">Serviço</a></li>
                    <li><a href="cadastro_ramos">Ramo</a></li>
                </ul>
                <div class="col s12 center-align"><span class="texto_text center">© 2016 TW314 V1.0</span></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright hide-on-med-and-down uppercase">
        <span class="texto_text left">© 2016 TW314 V1.0</span>
        <a class="texto_text right hvr-underline-from-left" href="cadastro_ramos"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Ramos</a>
        <a class="texto_text right hvr-underline-from-left" href="atendimento"><i class="fa fa-phone" aria-hidden="true"></i> Atendimento</a>
        <a class="texto_text right hvr-underline-from-left" href="cadastro_servico"><i class="fa fa-briefcase" aria-hidden="true"></i> Serviços</a>
        <a class="texto_text right hvr-underline-from-left" href="cadastro_estabelecimento"><i class="fa fa-building" aria-hidden="true"></i> Estabelecimento</a>
        <a class="texto_text right hvr-underline-from-left" href="cadastro_admin"><i class="fa fa-user" aria-hidden="true"></i> Administradores</a>
        <a class="texto_text right hvr-underline-from-left" href="principal"><i class="fa fa-home" aria-hidden="true"></i> Principal</a>
    </div>
</footer>

<!--  Scripts-->
<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script type="text/javascript">
    (function() {
        var bodyEl = $('body'),
                navToggleBtn = bodyEl.find('.nav-toggle-btn');

        navToggleBtn.on('click', function(e) {
            bodyEl.toggleClass('active-nav');
            e.preventDefault();
        });
    })();
</script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>
<script type="text/javascript" src="{% static "js/backtotop.js " %}"></script>
<script type="application/javascript">
    $(document).ready(function(){
        $('ul.tabs').tabs();
        $('.tooltipped').tooltip({delay: 50});
        $(".button-collapse").sideNav();
        $('.scrollspy').scrollSpy();
        $(".owl-carousel").owlCarousel({
                    center: true,
                    loop:true,
                    margin:10,
                    autoplay:true,
                    autoplayTimeout:3000,
                    autoplayHoverPause:true,
                    responsive:{
                        260:{
                            items: 1
                        },
                        600:{
                            items: 3
                        }
                    }
                }
        );
    });
</script>
</body>
</html>