{% extends "master_admin.html" %}

{% block titulo %} Adicionar Serviços {% endblock %}
{% block master %}
    <div class="row text_text">
        <div class="col push-m3 m6 s12">
            <div class="col s12">
                <div class="card white">
                    <div class="card-content texto_text">
                        <span id="table" class="card-title small">Lista de Serviços</span>
                    </div>
                    <div class="card-action">
                        <!--Inicio da tabela-->
                        <table class="highlight responsive-table">
                            <thead>
                            <tr>
                                <th data-field="nome">Nome</th>
                                <th data-field="descricao">Descrição</th>
                                <th data-field="acoes">Visualizar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><p>Pagamento</p></td>
                                <td><h6 class="truncate">Pagamentos realizados de faturas...</h6></td>
                                <td class="center">
                                    <!-- Botao que chama Modal -->

                                    <a class=" btn-floating btn-short waves-light btn tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Vizualizar Serviço" href="#servico1"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Venda</p></td>
                                <td><h6 class="truncate">Vendas de mercadorias, serviços ...</h6></td>
                                <td class="center">
                                    <!-- Botao que chama Modal -->

                                    <a class=" btn-floating btn-short waves-light btn tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Vizualizar Serviço" href="#servico1"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr >
                                <td><p>Serviço de envio espresso</p></td>
                                <td><h6 class="truncate">Serviço de prioriade para envio de ...</h6></td>
                                <td class="center">
                                    <!-- Botao que chama Modal -->

                                    <a class=" btn-floating btn-short waves-light btn tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Vizualizar Serviço" href="#servico1"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Envio</p></td>
                                <td><h6 class="truncate">Envio de encomendas e correspondencias ...</h6></td>
                                <td class="center">
                                    <!-- Botao que chama Modal -->

                                    <a class=" btn-floating btn-short waves-light btn tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Vizualizar Serviço" href="#servico1"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Carta</p></td>
                                <td><h6 class="truncate">Serviço de prioriade para envio de ...</h6></td>
                                <td class="center">
                                    <!-- Botao que chama Modal -->

                                    <a class=" btn-floating btn-short waves-light btn tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Vizualizar Serviço" href="#servico1"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Recebimento de Encomendas</p></td>
                                <td><h6 class="truncate">Serviço de entrega de encomendas e ...</h6></td>
                                <td class="center">
                                    <!-- Botao que chama Modal -->

                                    <a class=" btn-floating btn-short waves-light btn tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Vizualizar Serviço" href="#servico1"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--Fim da Tabela-->
                    </div>
                    <!--Começo da páginação da tabela-->
                    <div class="row" align="right">
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!">5</a></li>
                            <li class="waves-effect"><a href="#!"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></li>
                        </ul>
                        <!--Fim da páginação da tabela-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Inicio da estrutura do Modal -->
    <div id="servico1" class="modal modal-fixed-footer base_text">
        <div class="modal-content ">
            <div class="row">
                <div class="col s8">
                    <h5 class="light valign-wrapper form-title" ><i class="fa fa-briefcase fa-2x" aria-hidden="true"></i><span> Venda <small></small> </span></h5>
                </div>
                <div class="col s4"><a href="" class="modal-action modal-close btn-flat base_text right">  <i class="right fa fa-times" aria-hidden="true"></i></a></div>
            </div>
            <div class="row">
                <!-- Dados -->
                <div class="col s12">
                    <div class="row">
                        <div class="row small-title">
                            <small>Descrição</small>
                        </div>
                        <div class="col s12">
                            <span class="font18 white-text">Vendas de mercadorias, serviços, boletos, cartões, entre outros.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- Menu de acoes da Modal -->
            <div class="fixed-action-btn horizontal">
                <a class="btn-floating secundaria1_bg tooltipped" data-position="top" data-delay="50" data-tooltip="Remover Serviço"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- Fim da estrutura do Modal -->

    <!-- Botao que chama Modal Adicionar Servico-->

    <a class="sucesso_v_bg btn-floating btn-large waves-light btn btn modal-trigger fixed-action-btn tooltipped" data-position="top" data-delay="50" data-tooltip="Adicionar novo Serviço" href="#adicionar_servico"><i class="fa fa-plus" aria-hidden="true"></i></a>

    <!-- Modal de Cadastro -->
    <div id="adicionar_servico" class="modal bottom-sheet">
        <form method="POST" >
            <div class="modal-content modal-padding">
                <div class="row texto_text">
                    <!--Começo do formulário-->
                    <div class="col s12">
                        <div class="col s12 m6 push-m3 margin-form">
                            <h5 class="light valign-wrapper form-title secundaria1_text">Selecione os Serviços Prestados para o sistema</h5>
                            <form class="col s12">
                                <h6 class="light valign-wrapper form-title secundaria2_text" style="margin-top: 10px;"><i class="fa fa-hand-pointer-o small" aria-hidden="true"></i><span> Escolher Serviço </span></h6>
                                <div class="row">
                                    <!-- Tags para adicionar serviços -->
                                    <div class="chip">
                                        Venda
                                        <i class="fa fa-times material-icons"></i>
                                    </div>
                                    <div class="chip">
                                        Entrega
                                        <i class="fa fa-times material-icons"></i>
                                    </div>
                                    <div class="chip">
                                        Pagamento
                                        <i class="fa fa-times material-icons"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 ">
                                        <input id="a-servico" type="text" class="validate">
                                        <label for="a-servico">Adicionar Novo Serviço</label>
                                    </div>
                                    <div class="row">
                                        <small class="small right">ATENÇÃO: Escolha pelo menos um serviço</small>
                                    </div>
                                </div>

                         </div>
                     </div>

                </div>
            </div>

                                <div class="row modal-footer-cadastro">
                                    <div class="col push-m6 m5 s12">
                                        <!--Botão Cancelar-->
                                        <div class="col s12 m6">
                                            <button class="btn waves-effect waves-light col s12 alerta_bg modal-close " type="reset"
                                                    name="action">Cancelar
                                                <i class="fa fa-times-circle right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <!--Fim do botão cancelar-->
                                        <!--Botão Cadastrar-->
                                        <div class="col s12 m6">
                                            <button class="btn waves-effect waves-light right col s12 sucesso_bg" type="submit"
                                                    name="action">Adicionar
                                                <i class="fa fa-plus-circle right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
    </div>

{% endblock %}