{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="TW314 é um sistema de acompanhamento de fila feito para o século 21">
    <title>TW314</title>
    <!-- Favicons
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- CSS-->
    <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/hover-min.css" %}">
    <link rel="stylesheet" href="{% static "css/backtotop.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.6.2/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<header id="home" class="scrollspy">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper fixed">
                <a href="/" class="wow fadeInLeft brand-logo base_text margin-title master"><img src="{% static "img/logo-certa.png" %}" class="responsive-img margin-icons icon"> </a>
                <ul style="margin-left: 70px;" class="wow fadeInLeft hide-on-small-only">
                    <li class="flow-text_3"><span class="margin-title">TW314</span></li>
                </ul>
                <ul class="wow fadeInRight right hide-on-small-only">
                    <li><a href="/login" class="waves-effect waves-light btn white brown-text">
                        <i class="material-icons right entrar fa fa-sign-in" aria-hidden="true"></i>
                        Entrar</a>
                    </li>
                </ul>
                <ul class="center-align nav-align hide-on-small-only section">
                    <li>
                        <a href="#home" class="wow fadeInDown hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="HOME">
                            <i class="fa fa-home icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#section_how" class="wow fadeInDown hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Como funciona?">
                            <i class="fa fa-info-circle icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#section_clients" class="wow fadeInDown hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Clientes">
                            <i class="fa fa-users icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#section_contact" class="wow fadeInDown hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Contato">
                            <i class="fa fa-comments icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#section_contract" class="wow fadeInDown hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Contratar">
                            <i class="fa fa-thumbs-up icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <a class="button-collapse black-text" href="#" data-activates='nav-mobile'><i class="fa fa-bars margin-icons base_text" aria-hidden="true"></i></a>
                <ul class="right side-nav"  id="nav-mobile">
                    <li class="valign-wrapper"><a href="#home"><i class="material-icons">home</i> Home</a></li>
                    <li class="valign-wrapper"><a href="#section_how"><i class="material-icons ">info</i> Como Funciona?</a></li>
                    <li class="valign-wrapper"><a href="#section_clients"><i class="material-icons">group</i> Clientes</a></li>
                    <li class="valign-wrapper"><a href="#section_contact"><i class="material-icons">question_answer</i> Contato</a></li>
                    <li class="valign-wrapper"><a href="#section_contract"><i class="material-icons">thumb_up</i> Contratar</a></li>
                    <li class="valign-wrapper"><a href=""><i class="material-icons">exit_to_app</i> Entrar</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!--  Parallax Section  -->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static "img/ampulheta.jpg" %}"></div>
        <div class="caption left-align margin-parallax">
            <div class="row wow fadeIn">
                <div class="col s2">
                    <img style="height: 10rem" src="{% static "img/logo-certa.png" %}" alt="logo" class="responsive-img">
                </div>
                <div class="col s10">
                    <h1 class="base_text"> TW314</h1>
                    <h5 class="light base_text text-lighten-3">Solução para filas</h5>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="section base_bg">
        <!-- Institucional -->
        <div class="row container">
            <div class="col l4 m6 s12 wow fadeInLeft">
                <div class="hoverable card">
                    <div class="card-image">
                        <img src="{% static "img/missao.jpg" %}" class="responsive-img" alt="Missão">
                        <span class="card-title">Missão</span>
                        <p class="flow-text">Nosso objetivo é trazer a você a chance de aproveitar melhor seu tempo, trazendo mais produtividade ao seu dia.</p>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 wow fadeInDown">
                <div class="hoverable card">
                    <div class="card-image">
                        <img src="{% static "img/valores.jpg" %}" class="responsive-img" alt="Missão">
                        <span class="card-title">Valores</span>
                        <p class="flow-text">Para isso sempre tendo em mente a qualidade, eficiência e eficácia do que fazemos.</p>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12 wow fadeInRight">
                <div class="hoverable card">
                    <div class="card-image">
                        <img style="opacity: 80" src="{% static "img/visao.jpg" %}" class="responsive-img" alt="Missão">
                        <span class="card-title">Visão</span>
                        <p class="flow-text">Nos dedicando ao máximo pra trazer a você o melhor resultado.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Animacao -->
        <div class="row border-how">
            <h4 class="wow fadeIn light valign-wrapper scrollspy" id="section_how"><i class="fa fa-info-circle medium" aria-hidden="true"></i> Como funciona?</h4>
            <div class="animation-wrapper" id="flexible-animation">
                <!-- TODO: Adicionar animacao -->
                <img src="{% static "img/tuto.png" %}" class="responsive-img center-block" alt="animation">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="parallax-container">
            <div class="parallax"><img src="{% static "img/ampulheta-2.jpg" %}"></div>
        </div>
        <div class="row section-parallax">
            <h4 class="wow fadeIn light valign-wrapper scrollspy base_text" id="section_clients"><i class="fa fa-users medium" aria-hidden="true"></i> Clientes</h4>
        </div>
        <div class="container">
            <div class="owl-carousel center-align">
                <div class="wow fadeInLeft item">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/sica.png" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">SICA<i class="right fa fa-ellipsis-v" aria-hidden="true"></i> </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">SICA<i class="right fa fa-times" aria-hidden="true"></i> </span>
                            <p>Serviço de Interação Cliente-Autônomo</p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInLeft item">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/wistoll.jpg" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">WISTOLL<i class="right fa fa-ellipsis-v" aria-hidden="true"></i> </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">WISTOLL<i class="right fa fa-times" aria-hidden="true"></i> </span>
                            <p>Where is the protocol? (Onde está o protocolo?)</p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInLeft item">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/3.jpg" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Cliente 3<i class="right fa fa-ellipsis-v" aria-hidden="true"></i> </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Cliente 3<i class="right fa fa-times" aria-hidden="true"></i> </span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInLeft item">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/4.jpg" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Cliente 4<i class="right fa fa-ellipsis-v" aria-hidden="true"></i> </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Cliente 4<i class="right fa fa-times" aria-hidden="true"></i> </span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section base_bg">
        <div class="row">
            <h4 class="wow fadeIn light valign-wrapper scrollspy" id="section_contact"><i class="fa fa-comments medium" aria-hidden="true"></i> Contato</h4>
            <div class="container">
                <div class="row ">
                    <div class="col s12 m6 margin-contact">
                        <div class="wow fadeIn card hoverable  base_bg">
                            <div class="card-content center-block">
                                <span class="card-title">Ainda com dúvidas? Tire-as agora!</span>
                            </div>
                            <div class="card-action">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="nome" type="text" class="validate">
                                            <label for="nome">Nome Completo</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" type="email" class="validate">
                                            <label for="email">E-mail</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="assunto" type="text" class="validate">
                                            <label for="assunto">Assunto</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="mensagem" class="materialize-textarea"></textarea>
                                            <label for="mensagem">Mensagem</label>
                                        </div>
                                    </div>
                                    <a href="#" class="waves-effect waves-light btn secundaria1_bg right"> Enviar</a>
                                </form>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="row" style="margin: 0;">
        <div class="parallax-container  parallax-container2">
            <div class="parallax"><img src="{% static "img/ampulheta-3.jpg" %}"></div>
            <h4 class="wow fadeIn light valign-wrapper texto_text scrollspy" id="section_contract"><i class="fa fa-thumbs-up medium" aria-hidden="true"></i>Contratar</h4>
            <div class="row">
                <div class="col s12 m6 margin-contact">
                    <div class="container">
                        <div class="row ">
                            <div class="wow fadeIn card hoverable">
                                <div class="card-content center-block">
                                    <span class="card-title texto_text">Quer entrar pro time? Faça o pedido!</span>
                                </div>
                                <div class="card-action">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="responsavel" type="text" class="validate">
                                                <label for="responsavel">Nome do Responsável</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="contato" type="email" class="validate">
                                                <label for="contato">E-mail para contato</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="cnpj" type="text" class="validate">
                                                <label for="cnpj">CNPJ</label>
                                            </div>
                                        </div>
                                        <a href="#" class="waves-effect waves-light btn-xlarge btn-large secundaria1_bg right flow-text_2">Eu quero!</a>
                                    </form>
                                    <a href=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="caption left-align margin-parallax">
                <div class="row">
                    <footer  class="page-footer fixed-footer wow fadeInUp">
                        <a href="#0" class="cd-top">Top</a>
                        <div class="footer-copyright bolder uppercase master">
                            <a class="base_text left">© 2016 Ticket Web 314 V1.0</a>
                            <a class="logo-footer right-align"><img src="{% static "img/logo-certa.png" %}" class="responsive-img" alt="logo"></a>
                            <a class="base_text right" href="#section_contract">Contratar</a>
                            <a class="base_text right" href="#section_contact">Contato</a>
                            <a class="base_text right" href="#section_clients">Clientes</a>
                            <a class="base_text right" href="#section_how">Como Funciona?</a>
                            <a class="base_text right" href="#home">Home</a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>

<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>

<script type="text/javascript" src="{% static "js/backtotop.js" %}"></script>
<script src="{% static "js/wow.js" %}"></script>
<script>
    new WOW().init();
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
    });
</script>
<script type="application/javascript">
    $(".button-collapse").sideNav();
    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        $(".owl-carousel").owlCarousel({
                    center: true,
                    loop:true,
                    margin:10,
                    autoplay:true,
                    autoplayTimeout:3000,
                    autoplayHoverPause:true,
                    responsive:{
                        260:{
                            items: 1
                        },
                        600:{
                            items: 3
                        }
                    }
                }
        );
    });
</script>

</body>
</html>