{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TW314</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a modern responsive CSS framework based on Material Design by Google. ">
    <title>TW314</title>

    <!-- Favicons
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- CSS-->

    <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/hover-min.css" %}">
    <link rel="stylesheet" href="{% static "css/backtotop.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.6.2/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<header class="master">
    <nav>
        <div class="container">
            <ul>
                <li>
                    <a href="/" class="white-text">
                        <img src="{% static "img/logo_ampulheta.png" %}" class="responsive-img" alt="logo TW314">
                    </a>
                </li>
                <li><span class="flow-text_3"><span class="hide-on-small-and-down">TW314 - </span>Login</span></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li class="white-text font24 light">Bom Dia!</li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="row">
        <div class="parallax-container">
            <div class="parallax"><img src="{% static "img/ampulheta4.jpg" %}"></div>
        </div>
        <div class="row section-parallax">
        </div>
        <div class="container">
            <div class="row ">
                <div class="col s12 m8 l6 margin-contact">
                    <div class="card hoverable">
                        <div class="card-content center-block">
                            <span class="card-title texto_text">Faça seu Login!</span>
                        </div>
                        <div class="card-action">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="login" type="text" class="validate">
                                        <label for="login">Login:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="senha" type="password" class="validate">
                                        <label for="senha">Senha:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <a href="#modal1" class="secundaria1_text modal-trigger">Esqueci minha senha</a>
                                        <!-- Inicio da estrutura do Modal -->
                                        <div id="modal1" class="modal white-text">
                                            <div class="modal-content">
                                                <div class="row modal-padding">
                                                    <div class="col s8">
                                                        <p class="white-text center-form">Informe seu e-mail abaixo e receberá um link para alterar sua senha:</p>
                                                        <div class="row center-form">
                                                            <form class="col s12">
                                                                <div class="row">
                                                                    <div class="input-field col s12">
                                                                        <input id="email" type="email" class="validate" placeholder="Digite seu e-mail aqui">

                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!-- Botões que fecham Modal -->
                                                        <div class="row">
                                                            <button class="btn waves-effect waves-light right col s4 modal-action modal-close" type="Enviar" name="action">Enviar
                                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                        <div class="row">
                                                            <button class="btn waves-effect waves-light right col s4 modal-action modal-close" type="Enviar" name="action">Cancelar
                                                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                            </button>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fim da estrutura do Modal -->

                                        <a href="#" class="waves-effect waves-light btn secundaria1_bg right">Entrar</a>
                                    </div>
                                </div>
                            </form>
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="master fixed-footer">
    <div class="footer-copyright">
        <div class="col s12 base_text">
            © 2016 Ticket Web TW314 V1.0
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script type="text/javascript">
    (function() {
        var bodyEl = $('body'),
                navToggleBtn = bodyEl.find('.nav-toggle-btn');

        navToggleBtn.on('click', function(e) {
            bodyEl.toggleClass('active-nav');
            e.preventDefault();
        });
    })();
</script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>
<script type="text/javascript" src="{% static "js/backtotop.js " %}"></script>
<script type="application/javascript">
    $(".button-collapse").sideNav();
    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        $(".owl-carousel").owlCarousel({
                    center: true,
                    loop:true,
                    margin:10,
                    autoplay:true,
                    autoplayTimeout:3000,
                    autoplayHoverPause:true,
                    responsive:{
                        260:{
                            items: 1
                        },
                        600:{
                            items: 3
                        }
                    }
                }
        );
    });
</script>
<script>
    // Initialize collapse button
    $(".button-collapse").sideNav({closeOnClick: true});
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
</script>

</body>
</html>