.parallax-container {
    height: 39em;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: inline;
}
.menu_circle{
    width: 6em;
    height: 6em;
    margin: 0px auto;
}
.menu_circle i{
    margin: 0px auto;
}
.icon{
    font-size: 4em !important;
}
.menu{
    margin: auto 20%;
}
.menu ul li {
    margin: auto 15px;
}

nav {
    background-color: transparent;
}
nav ul a {
    color: black;
}
.entrar{
    margin-top: -15px;
}
.nav-align{
    position: absolute;
    margin-top: 65px;
    padding: 5px 25%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
    width: 100%;
}

.hvr-reveal {
    display: inherit;
}

.hvr-reveal::before {
    border-radius: 50%;
    border-color: black;
}

nav ul a:hover {
    background: none;
}

.btn-floating.btn-large {
    width: 6em;
    height: 6em;
    padding-top: 13%;
}
nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {margin-left: 22px;}

.flow-text {
    font-size: 1rem;
}

.margin-parallax{
    margin: 20em 5em;
}

.card .card-image p {
    position: absolute;
    top: 3em;
    color: white;
    text-align: justify;
    margin: auto 5%;
    font-weight: 500;
}
.card .card-image img {
    opacity: 0.6;
}
.card .card-image .card-title {
    padding: 1%;
    color: rgba(255, 255, 255, 0.45);
}
.fallback{
    margin:auto 0 ;
}

.border-how{
    border-top: solid 1px #eeeeee;
}