{% extends "master_funcionario.html" %}
{% load staticfiles %}
{% block titulo %} Bem-vindo, Funcionário {% endblock %}
{% block master %}
    <div class="row">
        <div class="col m6 hide-on-small-and-down">
            <h6 class="uppercase texto_text flow-text_3">há <span class="principal_v_text">10 pessoas </span> na fila de espera</h6>
        </div>
        <div class="col s12 m6">
            <button id="play" class="tooltipped right secundaria2_text btn-flat" data-position="left" data-delay="50" data-tooltip="Iniciar fila"><i class="fa fa-play-circle-o font80" aria-hidden="true"></i></button>
            <button id="paus" class="hide tooltipped right secundaria2_text btn-flat" data-position="left" data-delay="50" data-tooltip="Pausar fila"><i class="fa fa-pause-circle-o font80" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row">
        <div id="qeue" style="width: 250px; height: 250px; margin: 0 auto"></div>
    </div>
    <div class="row">
        <div class="col s2 m8 center-align">
            <p class="uppercase font18">Progresso do atendimento</p>
            <i id="hourglass" class="hide-on-small-and-down fa fa-hourglass-o fa-5x fa-fw secundaria1_text" aria-hidden="true"></i>
            <span class="sr-only">Loading...</span>
            <input id="clockface" disabled class="secundaria1_text font18 center clockface" placeholder="00:00:000">
        </div>
        <div class="col s10 m4 right">
            <div class="row ">
                <button id="start" disabled class="btn btn-large waves-effect waves-light right col s9 font18" type="button" name="action"><span class="center">Iniciar Atendimento</span> <i class="right fa fa-play" aria-hidden="true"></i> </button>
            </div>
            <div class="row">
                <button id="reset" disabled class="btn btn-large waves-effect waves-light right col s9 font18" type="button" name="action"><span class="center">Finalizar Atendimento</span> <i class="right fa fa-stop" aria-hidden="true"></i> </button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/tock.js" %}"></script>
    <!-- Scripts -->
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 40});
        });
    </script>
    <script>
        window.onload = function() {

            if($('#play').val() === "pizza"){

            }
            $('#play').on('click', function () {
                $("#play").hide("fast");
                $("#paus").show("fast");
                $("#paus").removeClass("hide");
                $( "#start" ).prop( "disabled", false );
                $( "#sair" ).prop( "disabled", true );
            });

            $('#paus').on('click', function () {
                $("#play").show("fast");
                $("#paus").hide("fast");
                $( "#start" ).prop( "disabled", true );
                $( "#sair" ).prop( "disabled", false );
            });

            var timer = new Tock({
                callback: function () {
                    $('#clockface').val(timer.msToTime(timer.lap()));
                }
            });

            $('#start').on('click', function () {
                timer.start($('#clockface').val());
                $("#hourglass").addClass("fa-spin");
                $( "#start" ).prop( "disabled", true );
                $( "#reset" ).prop( "disabled", false );
                $( "#paus" ).prop( "disabled", true );
            });

            $('#lap').on('click', function () {
                $('#laptimes').append(timer.msToTime(timer.lap()) + '<br>');
            });

            $('#pause').on('click', function () {
                timer.pause();
            });

            $('#stop').on('click', function () {
                timer.stop();
            });

            $('#reset').on('click', function () {
                timer.reset();
                $('#clockface').val('');
                $('#laptimes').html('');
                $("#hourglass").removeClass("fa-spin");
                $( "#start" ).prop( "disabled", false );
                $( "#reset" ).prop( "disabled", true );
                $( "#paus" ).prop( "disabled", false );
            });
        }
    </script>
{% endblock %}