{% extends "master_funcionario.html" %}
{% load staticfiles %}
{% block titulo %} Principal {% endblock %}
{% block master %}
    <div class="row">
        <div class="col m6 hide-on-small-and-down">
            <h6 class="uppercase texto_text flow-text_3">há <span id="fila" class="principal_v_text">10 pessoas </span> na fila de espera</h6>
        </div>
        <div data-step="1" data-intro="Esse botão tem a função de começar os atendimentos" class="col s12 m6" style="margin-top: 20px;">
            <button id="play" onclick="Materialize.toast('Chamando cliente', 2000);" class="tooltipped right secundaria2_text btn-flat" data-position="left" data-delay="50" data-tooltip="Iniciar fila"><i class="fa fa-play-circle-o font80" aria-hidden="true"></i></button>
            <button id="paus" class="hide tooltipped right secundaria2_text btn-flat" data-position="left" data-delay="50" data-tooltip="Pausar fila"><i class="fa fa-pause-circle-o font80" aria-hidden="true"></i></button>
        </div>
    </div>
    <div id="elipse" hidden class="row">
        <div class="elipse-center">
            <div class="hide-on-med-and-down col s1 big elipse1 elipse1-l margin-elipse">
                <h5 id="e1" class="center">TW312</h5>
            </div>
            <div class="hide-on-small-and-down col s2 big2 elipse2 elipse2-l margin-elipse">
                <h3 id="e2" class="center">TW313</h3>
            </div>
            <div id="static" style="display: none;" class=" col s3 big3 elipse3 margin-elipse">
            </div>
            <h2 id="e5" class="center ticket">TW314</h2>
            <div id="loader" class="col s3 margin-elipse">
                <div class="preloader-wrapper big3 active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hide-on-small-and-down col s2 elipse2 elipse2-r margin-elipse">
                <h3 id="e4" class="center">TW315</h3>
            </div>
            <div class="hide-on-med-and-down col s1 elipse1 elipse1-r margin-elipse">
                <h5 id="e3" class="center">TW316</h5>
            </div>
        </div>
    </div>
    <div class="row" id="msg">
        <div class="col s12 margin-first center-align">
            <h1 style="color: rgba(162, 162, 162, 0.4);" class="flow-text_4 light center-align">Clique em <i class="fa fa-play-circle-o font80" aria-hidden="true"></i> para iniciar a fila </h1>
        </div>
    </div>
    <div class="row rodape-funcionario">
        <div class="col s12 m6 l8 center-align">
            <p class="uppercase font18">Progresso do atendimento</p>
            <i id="hourglass" class="hide-on-small-and-down fa fa-hourglass-o fa-5x fa-fw secundaria1_text" aria-hidden="true"></i>
            <span class="sr-only">Loading...</span>
            <input id="clockface" disabled class="secundaria1_text font18 center clockface" placeholder="00:00:000">
        </div>
        <div class="col s12 m6 l4 right">
            <div class="row ">
                <button id="start" onclick="Materialize.toast('Atendimento Iniciado', 2000)" disabled class="btn btn-large waves-effect waves-light right col s12 m11 l9 font18" type="button" name="action"><span class="center">Iniciar Atendimento</span> <i class="right fa fa-play" aria-hidden="true"></i> </button>
            </div>
            <div class="row">
                <button id="reset" disabled class="btn btn-large waves-effect waves-light right col s12 m11 l9 font18" onclick="Materialize.toast('Atendimento Finalizado', 1500);Materialize.toast('Chamando cliente', 2000);" type="button" name="action"><span class="center">Finalizar Atendimento</span> <i class="right fa fa-stop" aria-hidden="true"></i> </button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/tock.js" %}"></script>
    <!-- Scripts -->
    <!--
        SOH MEXER NESSES SCRIPTS COM CERTEZA DO QUE ESTA FAZENDO
     -->
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 40});
        });
    </script>
    <script>
        window.onload = function() {
            var ticket = 313;
            var fila = 11;
            function t() {
                Materialize.toast('Chamando cliente novamente', 2000);
            }
            //iniciar fila
            $('#play').on('click', function () {
                //Ocultar elementos
                $("#msg").hide("fast"); //oculpa mensagem inicial
                $("#play").hide("fast"); //oculta botão iniciar fila
                //exibir elemntos
                $("#paus").show("fast"); //exibe botão pausar fila
                $("#elipse").show("fast"); //exibe fila em elipse
                $("#paus").removeClass("hide"); //mostrar botão pause
                //desativar elementos
                $("#start").prop( "disabled", false );//ativa botao iniciar atendimento
                $("#sair").prop( "disabled", true );//TODO: desativar botao sair

                //contador para mensagem de notificações ao cliente
                var i = 1;
                for (;i<=2; i++){ //conta 2x + a primeira chamada
                    setTimeout(t, (i*30000)); //conta 30 segundos por chamada
                    //FIXME: arrumar erro logico de soma
                }
                if(i == 3){
                    ticket++; //passa próximo na fila
                    fila--;
                    //Adiciona valores aos elipses
                    $( "#e1" ).html("TW"+(ticket-2));
                    $( "#e2" ).html("TW"+(ticket-1));
                    $( "#e5" ).html("TW"+ticket);
                    $( "#e4" ).html("TW"+(ticket+1));
                    $( "#e3" ).html("TW"+(ticket+2));
                    $( "#fila" ).html((fila-1)+" pessoas");
                }
            }); //inicia fila

            $('#paus').on('click', function () {
                $("#play").show("fast"); //exibe play da fila
                $("#msg").show("fast"); //exibe mensagem iniciapl
                $("#elipse").hide("fast");//oculta fila em elipses
                $("#paus").hide("fast"); //oculta botão de pausar fila
                $("#start").prop( "disabled", true ); //desativar iniciar fila
                $("#sair").prop( "disabled", false ); //TODO: ativa sair
            }); //para fila

            //cronometro
            var timer = new Tock({
                callback: function () {
                    $('#clockface').val(timer.msToTime(timer.lap()));
                }
            });

            $('#start').on('click', function () {
                timer.start($('#clockface').val());
                $("#hourglass").addClass("fa-spin"); //giro da ampulhete
                $( "#start" ).prop( "disabled", true ); //desativa botão iniciar atendimento
                $( "#reset" ).prop( "disabled", false );//ativa botão iniciar atendimento
                $( "#paus" ).prop( "disabled", true );//desativa botão pausar fila
                document.getElementById("loader").style.display = "none"; //oculta elipse animado
                document.getElementById("static").style.display = "inline-block"; //exibe elipse estatico
            }); //inicia atendimento

            /*$('#lap').on('click', function () {
             $('#laptimes').append(timer.msToTime(timer.lap()) + '<br>');
             });

             $('#pause').on('click', function () {
             timer.pause();
             });

             $('#stop').on('click', function () {
             timer.stop();
             }); */ //outras funcoes do cronometro

            $('#reset').on('click', function () {
                timer.reset();
                $('#clockface').val(''); //zera cronometro
                //$('#laptimes').html(''); zera voltas
                $("#hourglass").removeClass("fa-spin"); //para gira da ampulheta
                $( "#start" ).prop( "disabled", false ); //ativa iniciar atendimento
                $( "#reset" ).prop( "disabled", true ); //inativa parar atendimento
                $( "#paus" ).prop( "disabled", false ); //ativa pausar fila
                document.getElementById("static").style.display = "none"; //esconde elipse princiapl estático
                document.getElementById("loader").style.display = "inline-block"; //mostra elipse principal animado

                //contador para mensagem de notificações ao cliente
                var i = 1;
                for (i=1;i<=2; i++){ //conta 2x + a primeira chamada
                    setTimeout(t, (i*30000)); //conta 30 segundos por chamada
                    //FIXME: arrumar erro logico de soma
                }
                ticket++; //passa próximo na fila
                fila--;
                //Adiciona valores aos elipses
                $( "#e1" ).html("TW"+(ticket-2));
                $( "#e2" ).html("TW"+(ticket-1));
                $( "#e5" ).html("TW"+ticket);
                $( "#e4" ).html("TW"+(ticket+1));
                $( "#e3" ).html("TW"+(ticket+2));
                $( "#fila" ).html((fila-1)+" pessoas");
            }); //finaliza atendimento
        }
    </script>
{% endblock %}