{% extends "master_funcionario.html" %}
{% load staticfiles %}
{% block titulo %} Relatorio {% endblock %}
{% block master %}

    <!--Script highchart inicio-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
        ${demo.css}
    </style>
    <!--Script highchart fim-->

    <div class="row">
        <div class="col s6">
            <div class="row">

                <!--Filtro para relatório inicio-->
                <div class="input-field col s4">
                    <select class="icons" id="filtro">
                        <option value="none" disabled selected>Selecione um filtro</option>
                        <option value="sem_filtro" data-icon="images/sample-1.jpg" class="left circle">Sem Filtro</option>
                        <option value="servico" data-icon="images/sample-2.jpg" class="left circle">Serviço</option>
                        <option value="funcionario" data-icon="images/office.jpg" class="left circle">Funcionario</option>
                    </select>
                    <label>Filtrar por</label>
                </div>
                <!--Filtro para relatório fim-->

                <!--Filtro para relatório inicio-->
                <div class="input-field col s4">
                    <select class="icons" id="grafico">
                        <option value="" disabled selected>Selecione um gráfico</option>
                        <option value="areaspline" data-icon="images/sample-1.jpg" class="left circle">Areaspline</option>
                        <option value="column" data-icon="images/office.jpg" class="left circle">Coluna</option>
                        <option value="column_drilldown" data-icon="images/office.jpg" class="left circle">Coluna Drilldown</option>
                        <option value="pie_drilldown" data-icon="images/office.jpg" class="left circle">Torta</option>
                        <option value="container" data-icon="images/office.jpg" class="left circle">Áreas</option>
                    </select>
                    <label>Tipo de Gráfico</label>
                </div>
                <!--Filtro para relatório fim-->

                <!-- Date Picker do Periodo Inicial inicio-->
                <div class="input-field col s2">
                    <label>Periodo Inicial</label>
                    <input type="date" class="datepicker">
                </div>
                <!-- Date Picker do Periodo Inicial fim-->

                <!-- Date Picker do Periodo Inicial inicio-->
                <div class="input-field col s2">
                    <label>Periodo Final</label>
                    <input type="date" class="datepicker">
                </div>
                <!-- Date Picker do Periodo Inicial fim-->

                <!--
                <div class="col s4">
                    <a class="waves-effect waves-light btn-large button-relatorio-margin"><i class="material-icons right">cloud</i>button</a>
                </div>
                -->
            </div>
            <div class="row">
                <!-- Tabela para informações inicio-->
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th data-field="id">Name</th>
                        <th data-field="name">Item Name</th>
                        <th data-field="price">Item Price</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                    </tr>
                    <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                    </tr>
                    <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>$7.00</td>
                    </tr>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                    </tr>
                    <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                    </tr>
                    </tbody>
                </table>
                <!-- Tabela para informações fim-->

                <!-- Componente de paginação inicio-->
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
                <!-- Componente de paginação fim-->
            </div>
        </div>

        <div class="col s6">
            <div class="row">
                <!--Grafico-->
                <div id="areaspline" class="hide" style="height: 400px; margin: 0 auto"></div>
                <div id="column" class="hide" style="height: 400px; margin: 0 auto"></div>
                <div id="column_drilldown" class="hide" style="height: 400px; margin: 0 auto"></div>
                <div id="pie_drilldown" class="hide" style="height: 400px; margin: 0 auto"></div>
                <div id="container" class="hide" style="height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>

    <!-- Scripts inicio -->

    <script type="text/javascript">
        $(function () {
            $('#grafico').change(function () {
                if($('#grafico').val() == 'areaspline'){
                    $('#areaspline').removeClass('hide');
                }else {
                    $('#areaspline').addClass('hide');
                }
            });

            $('#grafico').change(function () {
                if($('#grafico').val() == 'column'){
                    $('#column').removeClass('hide');
                }else {
                    $('#column').addClass('hide');
                }
            });

            $('#grafico').change(function () {
                if($('#grafico').val() == 'column_drilldown'){
                    $('#column_drilldown').removeClass('hide');
                }else {
                    $('#column_drilldown').addClass('hide');
                }
            });

            $('#grafico').change(function () {
                if($('#grafico').val() == 'pie_drilldown'){
                    $('#pie_drilldown').removeClass('hide');
                }else {
                    $('#pie_drilldown').addClass('hide');
                }
            });

            $('#grafico').change(function () {
                if($('#grafico').val() == 'container'){
                    $('#container').removeClass('hide');
                }else {
                    $('#container').addClass('hide');
                }
            });

            $('#filtro').change(function () {
                if($('#filtro').val() == 'none'){
                    document.getElementById("#grafico").disabled = true;
                }else {
                    document.getElementById("#grafico").disabled = true;
                }
            });

            //Graficos inicio

            // Grafico tipo areaspline
            $('#areaspline').highcharts({
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'Average fruit consumption during one week'
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 150,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                    categories: [
                        'Monday',
                        'Tuesday',
                        'Wednesday',
                        'Thursday',
                        'Friday',
                        'Saturday',
                        'Sunday'
                    ],
                    plotBands: [{ // visualize the weekend
                        from: 4.5,
                        to: 6.5,
                        color: 'rgba(68, 170, 213, .2)'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'Fruit units'
                    }
                },
                tooltip: {
                    shared: true,
                    valueSuffix: ' units'
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    areaspline: {
                        fillOpacity: 0.5
                    }
                },
                series: [{
                    name: 'John',
                    data: [3, 4, 3, 5, 4, 10, 12]
                }, {
                    name: 'Jane',
                    data: [1, 3, 4, 3, 3, 5, 4]
                }]
            });

            //Grafico tipo Column-basic
            $('#column').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Monthly Average Rainfall'
                },
                subtitle: {
                    text: 'Source: WorldClimate.com'
                },
                xAxis: {
                    categories: [
                        'Jan',
                        'Feb',
                        'Mar',
                        'Apr',
                        'May',
                        'Jun',
                        'Jul',
                        'Aug',
                        'Sep',
                        'Oct',
                        'Nov',
                        'Dec'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Rainfall (mm)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Tokyo',
                    data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

                }, {
                    name: 'New York',
                    data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

                }, {
                    name: 'London',
                    data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

                }, {
                    name: 'Berlin',
                    data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

                }]
            });

            //Grafico tipo Column-drilldown
            $('#column_drilldown').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Browser market shares. January, 2015 to May, 2015'
                },
                subtitle: {
                    text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Total percent market share'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },

                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Microsoft Internet Explorer',
                        y: 56.33,
                        drilldown: 'Microsoft Internet Explorer'
                    }, {
                        name: 'Chrome',
                        y: 24.03,
                        drilldown: 'Chrome'
                    }, {
                        name: 'Firefox',
                        y: 10.38,
                        drilldown: 'Firefox'
                    }, {
                        name: 'Safari',
                        y: 4.77,
                        drilldown: 'Safari'
                    }, {
                        name: 'Opera',
                        y: 0.91,
                        drilldown: 'Opera'
                    }, {
                        name: 'Proprietary or Undetectable',
                        y: 0.2,
                        drilldown: null
                    }]
                }],
                drilldown: {
                    series: [{
                        name: 'Microsoft Internet Explorer',
                        id: 'Microsoft Internet Explorer',
                        data: [
                            [
                                'v11.0',
                                24.13
                            ],
                            [
                                'v8.0',
                                17.2
                            ],
                            [
                                'v9.0',
                                8.11
                            ],
                            [
                                'v10.0',
                                5.33
                            ],
                            [
                                'v6.0',
                                1.06
                            ],
                            [
                                'v7.0',
                                0.5
                            ]
                        ]
                    }, {
                        name: 'Chrome',
                        id: 'Chrome',
                        data: [
                            [
                                'v40.0',
                                5
                            ],
                            [
                                'v41.0',
                                4.32
                            ],
                            [
                                'v42.0',
                                3.68
                            ],
                            [
                                'v39.0',
                                2.96
                            ],
                            [
                                'v36.0',
                                2.53
                            ],
                            [
                                'v43.0',
                                1.45
                            ],
                            [
                                'v31.0',
                                1.24
                            ],
                            [
                                'v35.0',
                                0.85
                            ],
                            [
                                'v38.0',
                                0.6
                            ],
                            [
                                'v32.0',
                                0.55
                            ],
                            [
                                'v37.0',
                                0.38
                            ],
                            [
                                'v33.0',
                                0.19
                            ],
                            [
                                'v34.0',
                                0.14
                            ],
                            [
                                'v30.0',
                                0.14
                            ]
                        ]
                    }, {
                        name: 'Firefox',
                        id: 'Firefox',
                        data: [
                            [
                                'v35',
                                2.76
                            ],
                            [
                                'v36',
                                2.32
                            ],
                            [
                                'v37',
                                2.31
                            ],
                            [
                                'v34',
                                1.27
                            ],
                            [
                                'v38',
                                1.02
                            ],
                            [
                                'v31',
                                0.33
                            ],
                            [
                                'v33',
                                0.22
                            ],
                            [
                                'v32',
                                0.15
                            ]
                        ]
                    }, {
                        name: 'Safari',
                        id: 'Safari',
                        data: [
                            [
                                'v8.0',
                                2.56
                            ],
                            [
                                'v7.1',
                                0.77
                            ],
                            [
                                'v5.1',
                                0.42
                            ],
                            [
                                'v5.0',
                                0.3
                            ],
                            [
                                'v6.1',
                                0.29
                            ],
                            [
                                'v7.0',
                                0.26
                            ],
                            [
                                'v6.2',
                                0.17
                            ]
                        ]
                    }, {
                        name: 'Opera',
                        id: 'Opera',
                        data: [
                            [
                                'v12.x',
                                0.34
                            ],
                            [
                                'v28',
                                0.24
                            ],
                            [
                                'v27',
                                0.17
                            ],
                            [
                                'v29',
                                0.16
                            ]
                        ]
                    }]
                }
            });

            //Grafico tipo pie-drilldown

            $('#pie_drilldown').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares. January, 2015 to May, 2015'
                },
                subtitle: {
                    text: 'Click the slices to view versions. Source: netmarketshare.com.'
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}: {point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Microsoft Internet Explorer',
                        y: 56.33,
                        drilldown: 'Microsoft Internet Explorer'
                    }, {
                        name: 'Chrome',
                        y: 24.03,
                        drilldown: 'Chrome'
                    }, {
                        name: 'Firefox',
                        y: 10.38,
                        drilldown: 'Firefox'
                    }, {
                        name: 'Safari',
                        y: 4.77,
                        drilldown: 'Safari'
                    }, {
                        name: 'Opera',
                        y: 0.91,
                        drilldown: 'Opera'
                    }, {
                        name: 'Proprietary or Undetectable',
                        y: 0.2,
                        drilldown: null
                    }]
                }],
                drilldown: {
                    series: [{
                        name: 'Microsoft Internet Explorer',
                        id: 'Microsoft Internet Explorer',
                        data: [
                            ['v11.0', 24.13],
                            ['v8.0', 17.2],
                            ['v9.0', 8.11],
                            ['v10.0', 5.33],
                            ['v6.0', 1.06],
                            ['v7.0', 0.5]
                        ]
                    }, {
                        name: 'Chrome',
                        id: 'Chrome',
                        data: [
                            ['v40.0', 5],
                            ['v41.0', 4.32],
                            ['v42.0', 3.68],
                            ['v39.0', 2.96],
                            ['v36.0', 2.53],
                            ['v43.0', 1.45],
                            ['v31.0', 1.24],
                            ['v35.0', 0.85],
                            ['v38.0', 0.6],
                            ['v32.0', 0.55],
                            ['v37.0', 0.38],
                            ['v33.0', 0.19],
                            ['v34.0', 0.14],
                            ['v30.0', 0.14]
                        ]
                    }, {
                        name: 'Firefox',
                        id: 'Firefox',
                        data: [
                            ['v35', 2.76],
                            ['v36', 2.32],
                            ['v37', 2.31],
                            ['v34', 1.27],
                            ['v38', 1.02],
                            ['v31', 0.33],
                            ['v33', 0.22],
                            ['v32', 0.15]
                        ]
                    }, {
                        name: 'Safari',
                        id: 'Safari',
                        data: [
                            ['v8.0', 2.56],
                            ['v7.1', 0.77],
                            ['v5.1', 0.42],
                            ['v5.0', 0.3],
                            ['v6.1', 0.29],
                            ['v7.0', 0.26],
                            ['v6.2', 0.17]
                        ]
                    }, {
                        name: 'Opera',
                        id: 'Opera',
                        data: [
                            ['v12.x', 0.34],
                            ['v28', 0.24],
                            ['v27', 0.17],
                            ['v29', 0.16]
                        ]
                    }]
                }
            });

            // Grafico tipo Gauge-activity

            Highcharts.chart('container', {

                        chart: {
                            type: 'solidgauge',
                            marginTop: 50
                        },

                        title: {
                            text: 'Activity',
                            style: {
                                fontSize: '24px'
                            }
                        },

                        tooltip: {
                            borderWidth: 0,
                            backgroundColor: 'none',
                            shadow: false,
                            style: {
                                fontSize: '16px'
                            },
                            pointFormat: '{series.name}<br><span style="font-size:2em; color: {point.color}; font-weight: bold">{point.y}%</span>',
                            positioner: function (labelWidth, labelHeight) {
                                return {
                                    x: 200 - labelWidth / 2,
                                    y: 180
                                };
                            }
                        },

                        pane: {
                            startAngle: 0,
                            endAngle: 360,
                            background: [{ // Track for Move
                                outerRadius: '112%',
                                innerRadius: '88%',
                                backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.3).get(),
                                borderWidth: 0
                            }, { // Track for Exercise
                                outerRadius: '87%',
                                innerRadius: '63%',
                                backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0.3).get(),
                                borderWidth: 0
                            }, { // Track for Stand
                                outerRadius: '62%',
                                innerRadius: '38%',
                                backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[2]).setOpacity(0.3).get(),
                                borderWidth: 0
                            }]
                        },

                        yAxis: {
                            min: 0,
                            max: 100,
                            lineWidth: 0,
                            tickPositions: []
                        },

                        plotOptions: {
                            solidgauge: {
                                borderWidth: '34px',
                                dataLabels: {
                                    enabled: false
                                },
                                linecap: 'round',
                                stickyTracking: false
                            }
                        },

                        series: [{
                            name: 'Move',
                            borderColor: Highcharts.getOptions().colors[0],
                            data: [{
                                color: Highcharts.getOptions().colors[0],
                                radius: '100%',
                                innerRadius: '100%',
                                y: 80
                            }]
                        }, {
                            name: 'Exercise',
                            borderColor: Highcharts.getOptions().colors[1],
                            data: [{
                                color: Highcharts.getOptions().colors[1],
                                radius: '75%',
                                innerRadius: '75%',
                                y: 65
                            }]
                        }, {
                            name: 'Stand',
                            borderColor: Highcharts.getOptions().colors[2],
                            data: [{
                                color: Highcharts.getOptions().colors[2],
                                radius: '50%',
                                innerRadius: '50%',
                                y: 50
                            }]
                        }]
                    },

                    /**
                     * In the chart load callback, add icons on top of the circular shapes
                     */
                    function callback() {

                        // Move icon
                        this.renderer.path(['M', -8, 0, 'L', 8, 0, 'M', 0, -8, 'L', 8, 0, 0, 8])
                                .attr({
                                    'stroke': '#303030',
                                    'stroke-linecap': 'round',
                                    'stroke-linejoin': 'round',
                                    'stroke-width': 2,
                                    'zIndex': 10
                                })
                                .translate(190, 26)
                                .add(this.series[2].group);

                        // Exercise icon
                        this.renderer.path(['M', -8, 0, 'L', 8, 0, 'M', 0, -8, 'L', 8, 0, 0, 8, 'M', 8, -8, 'L', 16, 0, 8, 8])
                                .attr({
                                    'stroke': '#303030',
                                    'stroke-linecap': 'round',
                                    'stroke-linejoin': 'round',
                                    'stroke-width': 2,
                                    'zIndex': 10
                                })
                                .translate(190, 61)
                                .add(this.series[2].group);

                        // Stand icon
                        this.renderer.path(['M', 0, 8, 'L', 0, -8, 'M', -8, 0, 'L', 0, -8, 8, 0])
                                .attr({
                                    'stroke': '#303030',
                                    'stroke-linecap': 'round',
                                    'stroke-linejoin': 'round',
                                    'stroke-width': 2,
                                    'zIndex': 10
                                })
                                .translate(190, 96)
                                .add(this.series[2].group);
                    });
        });
    </script>
    <!-- Scripts fim -->
{% endblock %}