{% extends "master_funcionario.html" %}
{% load staticfiles %}
{% block titulo %} Bem-vindo, Funcionário {% endblock %}
{% block master %}
    <div class="container">
    <div class="row">
        <div class="col s2 sobre">
            <img src="{% static "img/logo_ampulheta.png" %}" alt="" class="responsive-img">
        </div>
    </div>
    <div class="row center">
        <p>TW314 Web V 1.0</p>
        <p>Ticket Web 314</p>
        <p>Todos os direitos reservados</p>
        <p>contato: contato@ticketweb.com</p>
        <p>Site: www.ticketweb314.com.br</p>
    </div>
    </div>
{% endblock %}
