{% extends "master_admin.html" %}
{% block titulo %} CONTATAR SUPORTE {% endblock %}
{% block master %}

    <div class="row">
        <!--Inicio do formulário-->
        <form class="col s6 m6 center-form"><!-- center-form = Classe para centralizar o Formulário-->
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Assunto" id="first_name" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" placeholder="Digite sua mensagem aqui"></textarea>
                </div>
            </div>
            <br />

            <!--Botões para enviar e cancelar a solicitação-->

            <div class="row">
                    <button class="btn waves-effect waves-light right col s4" type="cadastrar" name="action">Enviar
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </button>
            </div>

            <div class="row">
                    <button class="btn waves-effect waves-light right col s4" type="cancelar" name="action">Cancelar
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>

            <!--Fim dos botões-->

        </form>
        <!--Fim do Formulário -->
     </div>





















{% endblock %}