{% extends "master_suporte.html" %}

{% block titulo %} Gerência de Serviços {% endblock %}
{% block master %}
    <div class="row texto_text">
        <div class="container">
            <div class="card white">
                <div class="card-content texto_text">
                    <span id="table" class="card-title small"><i class="fa fa-briefcase" aria-hidden="true"></i>
                        Lista de Serviços</span>
                </div>
                <div class="card-action">
                    <!--Inicio da tabela-->
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th data-field="nome">Nome</th>
                            <th data-field="descricao">Descrição</th>
                            <th data-field="sigla">Sigla</th>
                            <th data-field="acoes">Visualizar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for servico in servicos %}
                            <tr>
                                <td><p>{{ servico.nome }}</p></td>
                                <td><h6 class="truncate">{{ servico.descricao }}</h6></td>
                                <td><p>{{ servico.sigla }}</p></td>
                                <td class="center">
                                    <!-- Botao que chama Modal -->
                                    <a class=" btn-floating btn-short wavelight btn btn modal-trigger"
                                       href="#servico{{ servico.id }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <!-- Inicio da estrutura do Modal -->
                            <div id="servico{{ servico.id }}" class="modal modal-fixed-footer base_text">
                                <div class="modal-content modal-padding">
                                    <div class="row">
                                        <div class="col s12 texto_text">
                                            <div class="col s10">
                                                <h5><i class="fa fa-puzzle-piece"></i>  Serviço:
                                                    {{ servico.nome }}</h5>
                                            </div>
                                            <div class="col s2">
                                                <a href="" class="modal-action modal-close btn-flat right"><i class="right fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row texto_text">
                                        <!-- Dados -->
                                        <div class="col s12">
                                            <div class="row">
                                                <div class="row small-title">
                                                    <small>Ramo</small>
                                                </div>
                                                <div class="col s12">
                                                    <span class="font18">{{ servico.ramo_atividade }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <div class="row">
                                                <div class="row secundaria2_text">
                                                    <small>Descrição</small>
                                                </div>
                                                <div class="col s12">
                                                    <span class="font18">{{ servico.descricao }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <div class="row">
                                                <div class="row secundaria2_text">
                                                    <small>Sigla</small>
                                                </div>
                                                <div class="col s12">
                                                    <span class="font18">{{ servico.sigla }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- Menu de acoes da Modal -->
                                    <div class="col s12">
                                        <div class="right-align">
                                            <a  class="btn-floating alerta_bg tooltipped" data-position="top" data-delay="50" data-tooltip="Inativar"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                            <a href="cadastro_ramos"
                                               class="btn-floating tooltipped principal_bg" data-position="top" data-delay="50" data-tooltip="Ir para Ramos"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></a>
                                            <a href="editar_servicos/{{ servico.pk }}" class="btn-floating editar_bg tooltipped z-depth-4" data-position="top" data-delay="50" data-tooltip="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim da estrutura do Modal -->
                        {% endfor %}
                        </tbody>
                    </table>
                    <!--Fim da Tabela-->
                </div>
                <!--Começo da páginação da tabela-->
                <div class="row" align="right">
                    <ul class="pagination">
                        <span class="step-links">
                            <li class="disabled"><a href="{% if servicos.has_previous %}?page={{ servicos.previous_page_number }}{% endif %}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a></li>
                            <span class="current">
                                <li class="waves-effect">{{ servicos.paginator.num_pages }}</li>
                            </span>
                            <li class="waves-effect {% if servicos.has_next %}disabled{% endif %}"><a href="{% if servicos.has_next %}?page={{ servicos.next_page_number }}{% endif %}"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></li>
                        </span>
                    </ul>
                    <!--Fim da paginacao da tabela-->
                </div>
            </div>
        </div>
    </div>

    <!-- Botao que chama Modal de Cadastro-->
    <a class="sucesso_v_bg btn-floating btn-large waves-light btn btn modal-trigger fixed-action-btn tooltipped" data-position="top" data-delay="50" data-tooltip="Novo Ramo" href="#cadastrar_servico"><i class="fa fa-plus" aria-hidden="true"></i></a>

    <!-- Modal de Cadastro -->
    <div id="cadastrar_servico" class="modal bottom-sheet">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#cadastrar"><i class="fa fa-building" aria-hidden="true"></i> Cadastrar Serviço</a></li>
                <li class="tab col s3"><a href="#ver"><i class="fa fa-map-marker" aria-hidden="true"></i> Ver Solicitações de Serviços</a></li>
            </ul>
        </div>
        <form method="POST" >
            <div class="modal-content modal-padding">
                <div class="row texto_text">
                    <div class="col s12">
                        <!--Começo do formulário-->
                        <div class="col s12 m6 push-m3 margin-form">
                            <h5 class="light valign-wrapper form-title secundaria1_text" ><i class="fa fa-briefcase" aria-hidden="true"></i><span> Insira os dados para cadastrar um Serviço</span></h5>
                            {% csrf_token %}
                            <div id="cadastrar" class="col s12">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <select id="ramo_atividade" name="ramo_atividade" class="browser-default">
                                            <option value="" disabled selected>Ramo de Atividade</option>
                                            {% for ramo in ramos %}
                                                <option value="{{ ramo.id }}">{{ ramo.nome }}</option>
                                            {% endfor %}
                                        </select>
                                        {{ form.ramo_atividade.errors }}
                                        <!--<label for="ramo_atividade">Ramo de Atividade</label>-->
                                    </div>
                                <div class="input-field col s12 m6">
                                        <input id="nome" name="nome" maxlength="45" type="text" class="validate">
                                        {{ form.nome.errors }}
                                        <label for="nome">Nome</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 m2">
                                        <input id="sigla" name="sigla" maxlength="2" type="text" class="validate">
                                        {{ form.sigla.errors }}
                                        <label for="sigla">Sigla</label>
                                    </div>
                                    <div class="input-field col s12 m10">
                                        <textarea type="text" id="ss_descricao" class="materialize-textarea validate" cols="30" rows="5" name="descricao"></textarea>
                                        {{ form.descricao.errors }}
                                        <label for="ss_descricao">Descrição</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <small class="small right">ATENÇÃO: O campo é obrigatório</small>
                                </div>
                            </div>
                            <div id="ver" class="col s12">
                                <table>
                                    <thead>
                                    <tr>
                                        <th data-field="id">Name</th>
                                        <th data-field="name">Item Name</th>
                                        <th data-field="price">Item Price</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>Alvin</td>
                                        <td>Eclair</td>
                                        <td>$0.87</td>
                                    </tr>
                                    <tr>
                                        <td>Alan</td>
                                        <td>Jellybean</td>
                                        <td>$3.76</td>
                                    </tr>
                                    <tr>
                                        <td>Jonathan</td>
                                        <td>Lollipop</td>
                                        <td>$7.00</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--Fim do Botão Cadastrar-->
                        </div>
                        <!--Fim do formulário-->

                        <!--
                        <div class="col s12">
                            <a class="waves-effect waves-light btn modal-trigger right" href="#solicitacao-servico">Ver Solicitações
                                de Novos Serviços</a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="row modal-footer-cadastro">
                <div class="col push-m6 m5 s12">
                    <!--Botão Cancelar-->
                    <div class="col s12 m6">
                        <button class="btn waves-effect waves-light  col s12 alerta_bg modal-close " type="reset"
                                name="action">Cancelar
                            <i class="fa fa-times-circle right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!--Fim do botão cancelar-->
                    <!--Botão Cadastrar-->
                    <div class="col s12 m6">
                        <button class="btn waves-effect waves-light right col s12 sucesso_bg" type="submit"
                                name="action">Cadastrar
                            <i class="fa fa-check-circle right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}