{% extends "master_suporte.html" %}

{% block titulo %} Cadastrar Ramo {% endblock %}
{% block master %}
    <div class=" row margin-form texto_text">
        <div class="col s12 offset-s3">
            <div class="col s6">
                <div class="card white">
                    <div class="card-content texto_text">
                        <span id="table" class="card-title small">Lista de Ramos</span>
                    </div>
                    <div class="card-action">
                        <!--Começo da Tabela-->
                        <table class="highlight responsive-table">
                            <thead>
                            <tr>
                                <th data-field="nome">Ramo</th>
                                <th class="center" data-field="login">Nº de Serviços</th>
                                <th class="center" data-field="acoes">Visualizar</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ramo in ramos %}
                                <tr>
                                    <td><p>{{ ramo.nome }}</p></td>
                                    <td class="center"> 10</td>
                                    <td class="center">
                                        <!-- Botao que chama Modal -->
                                        <a class=" btn-floating btn-short waves-light btn btn modal-trigger"
                                           href="#ramo"{{ ramo.id }}><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <!-- Inicio da estrutura do Modal -->
                                <div id="ramo"{{ ramo.id }} class="modal modal-fixed-footer base_text">
                                    <div class="modal-content modal-padding">
                                        <div class="row">
                                            <div class="col s8">
                                                <h5 class="light valign-wrapper form-title"><i
                                                        class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i><span> {{ ramo.nome }} <small></small> </span>
                                                </h5>
                                            </div>
                                            <div class="col s4"><a href=""
                                                                   class="modal-action modal-close btn-flat base_text right">
                                                <i class="right fa fa-times" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="row">
                                            <!-- Dados -->
                                            <div class="col s12">
                                                <div class="row">
                                                    <div class="row small-title">
                                                        <small class="secundaria1_v_text">Dados</small>
                                                    </div>
                                                    <div class="col s4">
                                                        <span class="font18 texto_text">Número de serviços:</span>
                                                    </div>
                                                    <div class="col s8">
                                                        <span class="font18 texto_text"> 6 </span>
                                                    </div>
                                                    <div class="col s4">
                                                        <span class="font18 texto_text">Número de empresas:</span>
                                                    </div>
                                                    <div class="col s8">
                                                        <span class="font18 texto_text"> 3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer modal-fixed-footer">

                                        <!-- Menu de acoes da Modal -->

                                        <div class="fixed-action-btn2">
                                            <a  class="btn-floating  secundaria1_bg tooltipped" data-position="top" data-delay="50" data-tooltip="Inativar"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                            <a href="cadastro_servico"
                                               class="btn-floating secundaria1_bg tooltipped"
                                               data-position="top"
                                               data-delay="50" data-tooltip="Ir para Serviços"><i
                                                    class="fa fa-briefcase" aria-hidden="true"></i></a>
                                            <a href="cadastro_estabelecimento"
                                               class="btn-floating secundaria1_bg tooltipped"
                                               data-position="top"
                                               data-delay="50" data-tooltip="Ir para Estabelecimentos"><i
                                                    class="fa fa-building" aria-hidden="true"></i></a>
                                            <a class="btn-floating secundaria1_bg tooltipped"
                                               data-position="top"
                                               data-delay="50" data-tooltip="Editar"><i class="fa fa-pencil"
                                                                                        aria-hidden="true"></i></a></div>



                                    </div>
                                </div>

                                <!-- Fim da estrutura do Modal -->
                            {% endfor %}
                            </tbody>
                        </table>
                        <!--Fim da tabela-->
                    </div>

                    <!--Começo da páginação da tabela-->
                    <div class="row" align="right">
                        <ul class="pagination">
                            <span class="step-links">
                                <li class="disabled"><a href="{% if ramos.has_previous %}?page={{ ramos.previous_page_number }}{% endif %}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a></li>
                                <span class="current">
                                    <li class="waves-effect">{{ ramos.paginator.num_pages }}</li>
                                </span>
                                <li class="waves-effect {% if ramos.has_next %}disabled{% endif %}"><a href="{% if ramos.has_next %}?page={{ ramos.next_page_number }}{% endif %}"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></li>
                            </span>
                        </ul>
                        <!--Fim da paginacao da tabela-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Inicio da estrutura do Modal -->
    <div id="ramo-inativo" class="modal modal-fixed-footer base_text" style="background-color: rgba(219, 61, 52, 0.90)">
        <div class="modal-content modal-padding">
            <div class="row">
                <div class="col s8">
                    <h5 class="light valign-wrapper form-title table-disabled base_text"><i
                            class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i><span> Bando <small></small> </span>
                    </h5>
                </div>
                <div class="col s4"><a href="" class="modal-action modal-close btn-flat base_text right"> <i
                        class="right fa fa-times" aria-hidden="true"></i></a></div>
            </div>
            <div class="row">
                <!-- Dados -->
                <div class="col s12">
                    <div class="row">
                        <div class="row small-title">
                            <small>Dados</small>
                        </div>
                        <div class="col s4">
                            <span class="font18 texto_text">Número de serviços:</span>
                        </div>
                        <div class="col s8">
                            <span class="font18 texto_text"> - </span>
                        </div>
                        <div class="col s4">
                            <span class="font18 texto_text">Número de Estabelecimentos</span>
                        </div>
                        <div class="col s8">
                            <span class="font18 texto_text"> - </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- Menu de acoes da Modal -->
            <div class="fixed-action-btn2 horizontal">
                <a class="btn-floating btn-short alerta_bg">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul>
                    <li><a class="btn-floating alerta_bg tooltipped" data-position="top" data-delay="50"
                           data-tooltip="Ativar"><i class="fa fa-check" aria-hidden="true"></i></a></li>
                    <li><a href="cadastro_servico" class="btn-floating alerta_bg tooltipped" data-position="top"
                           data-delay="50" data-tooltip="Ir para Serviços"><i class="fa fa-briefcase"
                                                                              aria-hidden="true"></i></a></li>
                    <li><a href="cadastro_estabelecimento" class="btn-floating alerta_bg tooltipped" data-position="top"
                           data-delay="50" data-tooltip="Ir para Estabelecimentos"><i class="fa fa-building"
                                                                                      aria-hidden="true"></i></a></li>
                    <li><a class="btn-floating alerta_bg tooltipped" data-position="top" data-delay="50"
                           data-tooltip="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Fim da estrutura do Modal -->

    <!-- Botao que chama Modal de Cadastro-->

    <a class=" btn-floating btn-large waves-light btn btn modal-trigger fixed-action-btn tooltipped" data-position="top" data-delay="50" data-tooltip="Novo Ramo" href="#cadastrar_ramo"><i class="fa fa-plus" aria-hidden="true"></i></a>

    <div id="cadastrar_ramo" class="modal modal bottom-sheet base_text">
        <div class="modal-content modal-padding">
            <div class="row margin-form texto_text">
                <div class="col s12 m6">
                    <!--Começo do formulário-->


                    <h5 class="light valign-wrapper form-title secundaria2_text" ><i
                            class="fa fa-puzzle-piece fa-3x" aria-hidden="true"></i><span> Insira os dados para cadastrar um Ramo</span></h5>


                    <form method="POST" class="col s12 offset-s6 "> {% csrf_token %}

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="nome" name="nome" maxlength="45" type="text">
                                {{ form.nome.errors }}
                                <label for="nome">Nome do Ramo</label>
                            </div>
                        </div>
                        <!--
                        {{ form.as_table }}
                         -->
                        <div class="row">
                            <small class="small right">ATENÇÃO: O campo é obrigatório</small>
                        </div>

                        <div class="row btn-margin-modal modal-footer-cadastro">
                            <!--Botão Cancelar-->
                            <div class="col s12 m6">
                                <button class="btn waves-effect waves-light  col s12 alerta_bg modal-close " type="reset"
                                        name="action">Cancelar
                                    <i class="fa fa-times-circle right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!--Fim do botão cancelar-->
                            <!--Botão Cadastrar-->
                            <div class="col s12 m6">
                                <button class="btn waves-effect waves-light right col s12 sucesso_bg" type="submit"
                                        name="action">Cadastrar
                                    <i class="fa fa-check-circle right" aria-hidden="true"></i>
                                </button>
                                </div>
                            </div>

                            <!--Fim do Botão Cadastrar-->

                    </form>
                    <a href=""></a>



                    <!--Fim do formulário-->
                </div>
            </div>

{% endblock %}