{% extends "master_suporte.html" %}

{% block titulo %} Editar Estabelecimento {% endblock %}
{% block master %}
    <div class="row margin-form texto_text">
        <div class="container">
            <!--Começo do formulário-->
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Editar Estabelecimento {{ empresas.nome_fantasia }}</span>
                </div>
                <div class="card-action">
                    <form method="POST" class="post-form">{% csrf_token %}
                        <h5 class="light valign-wrapper form-title secundaria1_text" ><i class="fa fa-briefcase" aria-hidden="true"></i><span> Dados da Empresa</span></h5>
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <select id="ramo_atividade" name="ramo_atividade" class="browser-default">
                                    <option value="" disabled selected>Ramo de Atividade</option>
                                    {% for ramo in ramos %}
                                        <option {% if empresas.ramo_atividade.id == ramo.id %} selected {% endif %} value="{{ ramo.id }}">{{ ramo.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-field col m6 s12">
                                <input maxlength="14" id="numero_cnpj" name="numero_cnpj" type="number" class="validate" value="{{ empresas.numero_cnpj }}">
                                <label for="numero_cnpj" data-error="Insira somente números">CNPJ</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="nome_fantasia" name="nome_fantasia" type="text" class="validate" value="{{ empresas.nome_fantasia }}">
                                <label for="nome_fantasia">Nome Fantasia</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="razao_social" name="razao_social" type="text" class="validate" value="{{ empresas.razao_social }}">
                                <label for="razao_social">Razão Social</label>
                            </div>
                        </div>
                        <h5 class="light valign-wrapper form-title secundaria1_text" ><i class="fa fa-map-marker" aria-hidden="true"></i><span> Endereço</span></h5>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input id="cep" name="cep" type="text" class="validate" value="{{ empresas.cep }}">
                                <label for="cep" data-error="Insira somente números">CEP</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="logradouro" name="logradouro" type="text" class="validate" value="{{ empresas.logradouro }}">
                                <label for="logradouro">Rua</label>
                            </div>
                            <div class="input-field col s12 m2">
                                <input id="numero_logradouro" name="numero_logradouro" type="number" class="validate" value="{{ empresas.numero_logradouro }}">
                                <label for="numero_logradouro" data-error="Insira somente números">Número</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="bairro" name="bairro" type="text" class="validate" value="{{ empresas.bairro }}">
                                <label for="bairro">Bairro</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <input id="cidade" name="cidade" type="text" class="validate" value="{{ empresas.cidade }}">
                                <label for="cidade">Cidade</label>
                            </div>
                            <div class="input-field col s12 m2">
                                <select id="uf" name="uf" class="browser-default">
                                    <option value="" disabled >Selecione</option>
                                    <option value="AC" {% if empresas.uf == "AC" %} selected {% endif %}>AC</option>
                                    <option value="AL" {% if empresas.uf == "AL" %} selected {% endif %}>AL</option>
                                    <option value="AP" {% if empresas.uf == "AP" %} selected {% endif %}>AP</option>
                                    <option value="AM" {% if empresas.uf == "AM" %} selected {% endif %}>AM</option>
                                    <option value="BA" {% if empresas.uf == "BA" %} selected {% endif %}>BA</option>
                                    <option value="CE" {% if empresas.uf == "CE" %} selected {% endif %}>CE</option>
                                    <option value="DF" {% if empresas.uf == "DF" %} selected {% endif %}>DF</option>
                                    <option value="ES" {% if empresas.uf == "ES" %} selected {% endif %}>ES</option>
                                    <option value="GO" {% if empresas.uf == "GO" %} selected {% endif %}>GO</option>
                                    <option value="MA" {% if empresas.uf == "MA" %} selected {% endif %}>MA</option>
                                    <option value="MT" {% if empresas.uf == "MT" %} selected {% endif %}>MT</option>
                                    <option value="MS" {% if empresas.uf == "MS" %} selected {% endif %}>MS</option>
                                    <option value="MG" {% if empresas.uf == "MG" %} selected {% endif %}>MG</option>
                                    <option value="PR" {% if empresas.uf == "PR" %} selected {% endif %}>PR</option>
                                    <option value="PB" {% if empresas.uf == "PB" %} selected {% endif %}>PB</option>
                                    <option value="PA" {% if empresas.uf == "PA" %} selected {% endif %}>PA</option>
                                    <option value="PE" {% if empresas.uf == "PE" %} selected {% endif %}>PE</option>
                                    <option value="PI" {% if empresas.uf == "PI" %} selected {% endif %}>PI</option>
                                    <option value="RJ" {% if empresas.uf == "RJ" %} selected {% endif %}>RJ</option>
                                    <option value="RN" {% if empresas.uf == "RN" %} selected {% endif %}>RN</option>
                                    <option value="RS" {% if empresas.uf == "RS" %} selected {% endif %}>RS</option>
                                    <option value="RO" {% if empresas.uf == "RO" %} selected {% endif %}>RO</option>
                                    <option value="RR" {% if empresas.uf == "RR" %} selected {% endif %}>RR</option>
                                    <option value="SC" {% if empresas.uf == "SC" %} selected {% endif %}>SC</option>
                                    <option value="SE" {% if empresas.uf == "SE" %} selected {% endif %}>SE</option>
                                    <option value="SP" {% if empresas.uf == "SP" %} selected {% endif %}>SP</option>
                                    <option value="TO" {% if empresas.uf == "TO" %} selected {% endif %}>TO</option>
                                </select>
                            </div>
                        </div>
                        <h5 class="light valign-wrapper form-title secundaria1_text" ><i class="fa fa-comment" aria-hidden="true"></i><span> Contato</span></h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="validate" value="{{ empresas.email }}">
                                <label for="email" data-error="E-mail inválido">E-mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="telefone" name="telefone" type="tel" maxlength="11" value="{{ empresas.telefone }}" class="validate">
                                <label for="telefone" data-error="Insira somente números">Telefone</label>
                            </div>
                        </div>
                        <h5 class="light valign-wrapper form-title secundaria1_text" ><i class="fa fa-user" aria-hidden="true"></i><span> Responsável</span></h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="nome_responsavel" name="nome_responsavel" value="{{ empresas.nome_responsavel }}" type="text" class="validate">
                                <label for="nome_responsavel">Responsável</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="cargo_responsavel" name="cargo_responsavel" type="text" value="{{ empresas.cargo_responsavel }}" class="validate">
                                <label for="cargo_responsavel">Cargo</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="cpf_responsavel" name="cpf_responsavel" type="number" value="{{ empresas.cpf_responsavel }}" class="validate">
                                <label for="cpf_responsavel" data-error="Insira somente números">CPF</label>
                            </div>
                        </div>
                        <div class="row">
                            <small class="small right">ATENÇÃO: O campo é obrigatório</small>
                        </div>
                        <div class="row">
                            <!--Botão Cancelar-->
                            <div class="col s12 m6">
                                <button class="btn waves-effect waves-light right col s12 alerta_bg" type="reset" name="action">Cancelar
                                    <i class="fa fa-times-circle right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!--Fim do botão cancelar-->
                            <!--Botão Cadastrar-->
                            <div class="col s12 m6">
                                <button class="btn waves-effect waves-light right col s12 sucesso_bg" type="submit" name="action">Editar
                                    <i class="fa fa-pencil right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!--Fim do Botão Cadastrar-->
                        </div>
                    </form>
                </div>
            </div>
            <!--Fim do formulário-->
        </div>
    </div>
{% endblock %}