{% extends "master_funcionario.html" %}
{% load staticfiles %}
{% block titulo %} Principal {% endblock %}
{% block master %}
    <!----------------------------------------
    -- NOVA PAGINA PRINCIPAL DO FUNCIONARIO --
    ----------------------------------------->
    <div class="row valign-wrapper">
        <div class="col s8 valign-wrapper">
            <div class="col s5 ">
                <div class="item html">
                    <h2>TW314 </h2>
                    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <title>Layer 1</title>
                            <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#00809c" fill="none"/>
                        </g>
                    </svg>
                </div>
                <!-- <div id="loader" class="col s3 margin-elipse">
                    <div class="preloader-wrapper big3 active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <h2 id="e5" class="center ticket">TW314</h2>
                </div>   -->
            </div>
            <div class="col s7 font20 uppercase">
                <p class="">Serviço: <span class="secundaria1_text">Vendas</span> </p>
                <p class="">Prioridade: <span class="secundaria1_text">Normal</span> </p>
            </div>
        </div>
        <div class="col s4 valign">
            <div class="col s12 center-align">
                <p class="uppercase font18">Progresso do atendimento</p>
                <i id="hourglass" class="hide-on-small-and-down fa fa-hourglass-o fa-5x fa-fw secundaria1_text" aria-hidden="true"></i>
                <span class="sr-only">Loading...</span>
                <input id="clockface" disabled class="secundaria1_text font18 center clockface" placeholder="00:00:000">
            </div>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s5 font18">
            <div>
                <div class="valign-wrapper hide-on-med-and-down col s1 big elipse elipse-l margin-elipse">
                    <p class="center-block ticket_plus">TW315</p>
                </div>
                <div class="valign-wrapper hide-on-med-and-down col s1 big elipse elipse-l margin-elipse">
                    <p class="center-block ticket_plus">TW316</p>
                </div>
                <div class="valign-wrapper hide-on-med-and-down col s1 big elipse elipse-l margin-elipse">
                    <p class="center-block ticket_plus">TW317</p>
                </div>
                <div class="valign-wrapper hide-on-med-and-down col s1 big elipse elipse-l margin-elipse">
                    <p class="center-block ticket_plus">TW318</p>
                </div>
                <div class="valign-wrapper hide-on-med-and-down col s1 big elipse elipse-l margin-elipse">
                    <p class="center-block ticket_plus">TW319</p>
                </div>
            </div>
        </div>
        <div class="col s7 valign">
            <div class="col s4">
                <button id="start" onclick="Materialize.toast('Atendimento Iniciado', 2000)" disabled class="btn waves-effect waves-light" type="button" name="action"><span class="center">Iniciar Atendimento</span> <i class="right fa fa-play" aria-hidden="true"></i> </button>
            </div>
            <div class="col s4 valign-wrapper">
                <button id="reset" disabled class="btn waves-effect waves-light" onclick="Materialize.toast('Atendimento Finalizado', 1500)" type="button" name="action"><span class="center">Fim do Atendimento</span> <i class="right fa fa-stop" aria-hidden="true"></i> </button>
            </div>
            <div class="col s4 valign-wrapper">
                <button id="reset" disabled class="btn waves-effect waves-light" onclick="Materialize.toast('Chamando cliente', 2000);" type="button" name="action">Chamar Próximo <i class="right fa fa-stop" aria-hidden="true"></i> </button>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="{% static "js/tock.js" %}"></script>
    <!-- SOH TOQUE NESSES SCRIPTS COM CERTEZA DO QUE ESTA FAZENDO -->
    <script>
        var time = 10; //quanto tempo vai contar
        var initialOffset = '440';
        var i = 1;
        var interval = setInterval(function() {
            $('.circle_animation').css('stroke-dashoffset', initialOffset-(i*(initialOffset/time)));  // tempo de animacao
            $('#ticket').text(i);
            if (i == time) {
                clearInterval(interval);
            }
            i++; //contador do numero
        }, 1000);
    </script>
    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 40});
        });
    </script>
    <script>
        window.onload = function() {
            var ticket = 313;
            var fila = 11;
            function t() {
                Materialize.toast('Chamando cliente novamente', 2000);
            }
            //iniciar fila
            $('#play').on('click', function () {
                //Ocultar elementos
                $("#msg").hide("fast"); //oculpa mensagem inicial
                $("#play").hide("fast"); //oculta botão iniciar fila
                //exibir elemntos
                $("#paus").show("fast"); //exibe botão pausar fila
                $("#elipse").show("fast"); //exibe fila em elipse
                $("#paus").removeClass("hide"); //mostrar botão pause
                //desativar elementos
                $("#start").prop( "disabled", false );//ativa botao iniciar atendimento
                $("#sair").prop( "disabled", true );//todo: desativar botao sair

                //contador para mensagem de notificações ao cliente
                var i = 1;
                for (;i<=2; i++){ //conta 2x + a primeira chamada
                    setTimeout(t, (i*30000)); //conta 30 segundos por chamada
                    //FIXME: arrumar erro logico de soma
                }
                if(i == 3){
                    ticket++; //passa próximo na fila
                    fila--;
                    //Adiciona valores aos elipses
                    $( "#e1" ).html("TW"+(ticket-2));
                    $( "#e2" ).html("TW"+(ticket-1));
                    $( "#e5" ).html("TW"+ticket);
                    $( "#e4" ).html("TW"+(ticket+1));
                    $( "#e3" ).html("TW"+(ticket+2));
                    $( "#fila" ).html((fila-1)+" pessoas");
                }
            }); //inicia fila

            $('#paus').on('click', function () {
                $("#play").show("fast"); //exibe play da fila
                $("#msg").show("fast"); //exibe mensagem iniciapl
                $("#elipse").hide("fast");//oculta fila em elipses
                $("#paus").hide("fast"); //oculta botão de pausar fila
                $("#start").prop( "disabled", true ); //desativar iniciar fila
                $("#sair").prop( "disabled", false ); //todo: ativa sair
            }); //para fila

            //cronometro
            var timer = new Tock({
                callback: function () {
                    $('#clockface').val(timer.msToTime(timer.lap()));
                }
            });

            $('#start').on('click', function () {
                timer.start($('#clockface').val());
                $("#hourglass").addClass("fa-spin"); //giro da ampulhete
                $( "#start" ).prop( "disabled", true ); //desativa botão iniciar atendimento
                $( "#reset" ).prop( "disabled", false );//ativa botão iniciar atendimento
                $( "#paus" ).prop( "disabled", true );//desativa botão pausar fila
                document.getElementById("loader").style.display = "none"; //oculta elipse animado
                document.getElementById("static").style.display = "inline-block"; //exibe elipse estatico
            }); //inicia atendimento

            /*$('#lap').on('click', function () {
             $('#laptimes').append(timer.msToTime(timer.lap()) + '<br>');
             });

             $('#pause').on('click', function () {
             timer.pause();
             });

             $('#stop').on('click', function () {
             timer.stop();
             }); */ //outras funcoes do cronometro

            $('#reset').on('click', function () {
                timer.reset();
                $('#clockface').val(''); //zera cronometro
                //$('#laptimes').html(''); zera voltas
                $("#hourglass").removeClass("fa-spin"); //para gira da ampulheta
                $( "#start" ).prop( "disabled", false ); //ativa iniciar atendimento
                $( "#reset" ).prop( "disabled", true ); //inativa parar atendimento
                $( "#paus" ).prop( "disabled", false ); //ativa pausar fila
                document.getElementById("static").style.display = "none"; //esconde elipse princiapl estático
                document.getElementById("loader").style.display = "inline-block"; //mostra elipse principal animado

                //contador para mensagem de notificações ao cliente
                var i = 1;
                for (i=1;i<=2; i++){ //conta 2x + a primeira chamada
                    setTimeout(t, (i*30000)); //conta 30 segundos por chamada
                    //FIXME: arrumar erro logico de soma
                }
                ticket++; //passa próximo na fila
                fila--;
                //Adiciona valores aos elipses
                $( "#e1" ).html("TW"+(ticket-2));
                $( "#e2" ).html("TW"+(ticket-1));
                $( "#e5" ).html("TW"+ticket);
                $( "#e4" ).html("TW"+(ticket+1));
                $( "#e3" ).html("TW"+(ticket+2));
                $( "#fila" ).html((fila-1)+" pessoas");
            }); //finaliza atendimento
        }
    </script>
{% endblock %}