{% extends "master_funcionario.html" %}
{% load staticfiles %}
{% block titulo %} Principal {% endblock %}
{% block master %}
    <!----------------------------------------
    -- NOVA PAGINA PRINCIPAL DO FUNCIONARIO --
    ----------------------------------------->
    <div class="row uppercase hide-on-med-and-down">
        <div class="col s12 m3">
            <p class="font12 valign-wrapper">Guichê: <span class="espacinho valign font24 secundaria1_text left-align"> {% if guiche >= 10 %} {{ guiche }} {% else %} 0{{ guiche }}{% endif %}</span></p>
        </div>
        <div class="col s12 m3">
            <p class="font12 valign-wrapper">Serviço: <span class="valign font24 secundaria1_text left-align espacinho">{{ servico.nome }}</span></p>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m3 valign">
            {% for s in senha %}
                <div class="col s12">
                    <div class="valign-wrapper col s1 elipse big elipse-l margin-elipse">
                        <p class="center-block font48">{{ s.ticket }}</p>
                    </div>
                </div>
                <div class="font20 uppercase col s10 center-align">
                    <p>Prioridade: <span class="secundaria1_text">{{ s.prioridade_nome }}</span> </p>
                </div>
            {% empty %}
                <div class="col s12">
                    <div class="valign-wrapper col s1 elipse big elipse-l margin-elipse">
                        <p class="center-block font48">Iniciar</p>
                    </div>
                </div>
                <div class="font20 uppercase col s9 center">
                    <p>Prioridade: <span class="secundaria1_text"> --- </span> </p>
                </div>
            {% endfor %}
        </div>
        <div class="col s12 m5 valign font18">
            <div id="senhas">
                {% for ticket in fila %}
                    <div class="valign-wrapper col s1 elipse elipse-l margin-elipse">
                        <p class="center-block ticket_plus1">{{ ticket.ticket }}</p>
                    </div>
                {% empty %}
                    <div class="valign-wrapper">
                        <p class="center-block ticket_plus1"> <i>Nenhuma senha Aguardando atendimento</i></p>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="col s12 m4 valign">
            <div class="col s12 center-align">
                <i id="hourglass" class="hide-on-small-and-down fa fa-hourglass-o fa-3x fa-fw secundaria1_text" aria-hidden="true"></i>
                <span class="sr-only">Loading...</span>
                <input id="clockface" disabled class="secundaria1_text font18 center clockface" placeholder="00:00:000">
            </div>
        </div>
    </div>
    <div class="row right-align">
        <div class="col s12 btn-funcoes">

            <!-- Botao Finalizar Atendimento -->
            <a {% for codigo in senha %} href=" {% url 'funcionario_finalizar' codigo.codigo_acesso %} " {% endfor %} id="reset" disabled class="btn btn-large btn-large alerta_bg waves-effect waves-light btn-atendimento" onclick="Materialize.toast('Atendimento Finalizado', 1500)" type="button" name="action"><span class="center">Finalizar Atendimento</span> <i class="right fa fa-check" aria-hidden="true"></i> </a>

            <!-- Botao Iniciar Atendimento -->
            <a {% for codigo in senha %} href=" {% url 'funcionario_iniciar' codigo.codigo_acesso %} " {% endfor %} id="start" onclick="Materialize.toast('Atendimento Iniciado', 2000)"  class="btn btn-large sucesso_bg waves-effect waves-light btn-atendimento stopTimer" type="button" name="action"><span class="center">Iniciar Atendimento</span> <i class="right fa fa-play" aria-hidden="true"></i> </a>

            <!-- Botao Chamar próximo -->
            <a {% for codigo in pegar_codigo %} href=" {% url 'funcionario_chamar' codigo.codigo_acesso %} " {% endfor %} id="next" class="startTimer btn btn-large waves-effect waves-light right-align btn-atendimento" onclick="Materialize.toast('Chamando cliente', 2000);">Chamar Próximo <i class="right fa fa-bell" aria-hidden="true"></i> </a>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="{% static "js/tock.js" %}"></script>

    <!-- SOH TOQUE NESSES SCRIPTS COM CERTEZA DO QUE ESTA FAZENDO -->
    <script>
        window.onload = function() {
            //$("#CountDownTimer").TimeCircles({});
            var inicio = "";
            if($('#senha').val() != '[]'){
                $('.textDiv_Seconds h4').html($('#senha').val());
                inicio = $('#senha').val();
            }
            else {
                $('.textDiv_Seconds h4').html($("-|-").val());
                inicio = "Iniciar"
            }
            $("#CountDownTimer").TimeCircles({
                "animation": "smooth",
                "bg_width": 0.9,
                "fg_width": 0.02,
                "circle_bg_color": "#a2a2a2",
                "time": {
                    "Days": {"show": false},
                    "Hours": {"show": false},
                    "Minutes": {"show": false},
                    "Seconds": {
                        "text": ""+inicio,
                        "color": "#00a0c2",
                        "show": true
                    }
                }
            }).stop();
            function t() {
                Materialize.toast('Chamando cliente novamente', 2000);
            }
            //cronometro
            var timer = new Tock({
                callback: function () {
                    $('#clockface').val(timer.msToTime(timer.lap()));
                }
            });

            $('#start').on('click', function () {
                $("#CountDownTimer").TimeCircles().stop();
                timer.start($('#clockface').val());
                $("#hourglass").addClass("fa-spin"); //giro da ampulhete
                $( "#start" ).prop( "disabled", true ); //desativa Botao iniciar atendimento
                $( "#reset" ).prop( "disabled", false );//ativa Botao iniciar atendimento
                $( "#paus" ).prop( "disabled", true );//desativa Botao pausar fila
                document.getElementById("loader").style.display = "none"; //oculta elipse animado
                document.getElementById("static").style.display = "inline-block"; //exibe elipse estatico
            }); //inicia atendimento
            $('#reset').on('click', function () {
                timer.reset();

                $('#clockface').val(''); //zera cronometro
                //$('#laptimes').html(''); zera voltas
                $("#hourglass").removeClass("fa-spin"); //para gira da ampulheta
                $( "#start" ).prop( "disabled", true ); //ativa iniciar atendimento
                $( "#reset" ).prop( "disabled", true ); //inativa parar atendimento
                $( "#next" ).prop( "disabled", false ); //ativa pausar fila
                document.getElementById("static").style.display = "none"; //esconde elipse princiapl estático
                document.getElementById("loader").style.display = "inline-block"; //mostra elipse principal animado

                //contador para mensagem de notificações ao cliente

            }); //finaliza atendimento
            $('#next').on('click', function () {
                $( "#start" ).prop( "disabled", false ); //ativa iniciar atendimento
                $( "#next" ).prop( "disabled", true ); //inativa chamar proximo
                $("#CountDownTimer").TimeCircles({
                    "animation": "smooth",
                    "bg_width": 0.9,
                    "fg_width": 0.02,
                    "circle_bg_color": "#a2a2a2",
                    "time": {
                        "Days": {"show": false},
                        "Hours": {"show": false},
                        "Minutes": {"show": false},
                        "Seconds": {
                            "text": "Seconds",
                            "color": "#00a0c2",
                            "show": true
                        }
                    }
                }).restart();
            });
        };
        /*$('#lap').on('click', function () {
         $('#laptimes').append(timer.msToTime(timer.lap()) + '<br>');
         });

         $('#pause').on('click', function () {
         timer.pause();
         });

         $('#stop').on('click', function () {
         timer.stop();
         }); */ //outras funcoes do cronometro
    </script>

{% endblock %}
