{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TW314</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a modern responsive CSS framework based on Material Design by Google. ">
    <title>TW314</title>

    <!-- Favicons
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- CSS-->

    <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/hover-min.css" %}">
    <link rel="stylesheet" href="{% static "css/backtotop.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.6.2/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body  onload="startTime()">
<header class="master">
    <nav>
        <ul>
            <li><a href="#" class="nav-toggle-btn brand-logo"><i class="fa fa-bars fa-2x menu-padding" aria-hidden="true"></i></a></li>
            <li>
                <a href="funcionario_principal" class="white-text">
                    <img src="{% static "img/logo_ampulheta.png" %}" class="responsive-img" alt="logo TW314">
                </a>
            </li>
            <li class="flow-text_2"><span class="">TW314 </span></li>
            <li class="flow-text_2 hide-on-small-and-down"> - {% block titulo %}{% endblock %}</li>
        </ul>
        <ul class="right ">
            <li><a class="white-text font24 light" href=""><i class="fa fa-sign-out" aria-hidden="true"></i> SAIR </a></li>
        </ul>
    </nav>
    <!-- Inicio do menu lateral -->
    <aside class="collection with-header menu-border base_bg">
        <a href="#" class="nav-toggle-btn collection-header menu-header principal_text"><img src="{% static "img/logo_fragmento_invertido.png" %}" class="responsive-img responsive-video" alt="logo TW314"> <span class="font24">TW314</span> <i class="fa fa-chevron-left font24 menu-padding" aria-hidden="true"></i></a>
        <!-- Inicio da secao de informacoes -->
        <div class="row info-side">
            <div class="col s6">
                <p class="texto_text light uppercase">Tíquete:</p>
                <p class="texto_text light uppercase">Serviço:</p>
                <p class="texto_text light uppercase">Média:</p>
                <p class="texto_text light uppercase">Prioridade:</p>
            </div>
            <div class="col s6 right-align">
                <p class="texto_text light">TW314</p>
                <p class="texto_text light">Ticket Web</p>
                <p class="texto_text light">20 min</p>
                <p class="texto_text light">Normal</p>
            </div>
        </div>
        <!-- Fim da secao de informacoes -->
        <!-- Inicio da secao de opcoes do menu -->
        <ul class="line-side">
            <li><a href="#" class="collection-item texto_text light waves-effect btn-flat"><i class="fa fa-clipboard" aria-hidden="true"></i> Relatório</a></li>
            <li><a href="#" class="collection-item texto_text light waves-effect btn-flat"><i class="fa fa-user" aria-hidden="true"></i> Perfil</a></li>
        </ul>
        <ul class="side-bottom line-side">
            <li><a href="#" class="collection-item texto_text light waves-effect btn-flat"><i class="fa fa-info-circle" aria-hidden="true"></i> Sobre</a></li>
            <li><a href="#" class="collection-item texto_text light waves-effect btn-flat"><i class="fa fa-envelope" aria-hidden="true"></i> Contatar Suporte</a></li>
        </ul>
        <!-- Fim da secao de opcoes do menu -->
    </aside>
    <!-- Fim do menu lateral -->
</header>
<main class="content">
    {%  block master %}

    {% endblock %}
</main>
<footer></footer>

<!--  Scripts-->
<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script type="text/javascript">
    (function() {
        var bodyEl = $('body'),
                navToggleBtn = bodyEl.find('.nav-toggle-btn');

        navToggleBtn.on('click', function(e) {
            bodyEl.toggleClass('active-nav');
            e.preventDefault();
        });
    })();
</script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>
<script type="text/javascript" src="{% static "js/backtotop.js " %}"></script>
<script type="application/javascript">
    $(".button-collapse").sideNav();
    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        $(".owl-carousel").owlCarousel({
                    center: true,
                    loop:true,
                    margin:10,
                    autoplay:true,
                    autoplayTimeout:3000,
                    autoplayHoverPause:true,
                    responsive:{
                        260:{
                            items: 1
                        },
                        600:{
                            items: 3
                        }
                    }
                }
        );
    });
</script>
<script>
    // Initialize collapse button
    $(".button-collapse").sideNav({closeOnClick: true});
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
</script>

</body>
</html>