{% extends "master_suporte.html" %}
{% load staticfiles %}
{% block titulo %} Bem-vindo, Suporte {% endblock %}
{% block master %}
    <div class="row">
        <div class="container col s12 m6 l4 card-margin">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static "img/admin.jpg" %}">
                </div>
                <div class="card-content">
                    <span class="card-title activator texto_text"><i class="fa fa-male margin-icons" aria-hidden="true"></i> Gerência de Administradores<i class="fa fa-ellipsis-v material-icons right" aria-hidden="true"></i> </span>
                    <p><a href="cadastro_admin">Ir para</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title texto_text">Gerência de Administradores<i class="material-icons right">close</i></span>
                    <p class="texto_text">
                    <ul class="list-style">Nesse espaço, será possível realizar as seguintes ações de Gerência de Administrador:
                        <li>Cadastrar</li>
                        <li>Editar</li>
                        <li>Listar</li>
                        <li>Vizualizar</li>
                        <li>Ativar/Inativar</li>
                    </ul>
                    </p>
                    <p><a href="cadastro_admin" class="right">Ir para</a></p>
                </div>
            </div>
        </div>
        <div class="container col s12 m6 l4 card-margin">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static "img/estabelecimento.jpg" %}">
                </div>
                <div class="card-content">
                    <span class="card-title activator texto_text"><i class="fa fa-building margin-icons" aria-hidden="true"></i>Gerência de Estabelecimentos<i class="fa fa-ellipsis-v material-icons right" aria-hidden="true"></i> </span>
                    <p><a href="#">Ir para</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title texto_text">Gerência de Estabelecimentos<i class="material-icons right">close</i></span>
                    <p class="texto_text">
                    <ul class="list-style">Nesse espaço, será possível realizar as seguintes ações de Gerência Estabelecimento:
                        <li>Cadastrar</li>
                        <li>Editar</li>
                        <li>Listar</li>
                        <li>Vizualizar</li>
                        <li>Ativar/Inativar</li>
                    </ul>
                    </p>
                    <p><a href="cadastro_admin" class="right">Ir para</a></p>
                </div>
            </div>
        </div>
        <div class="container col s12 m6 l4 card-margin">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static "img/contato.jpg" %}">
                </div>
                <div class="card-content">
                    <span class="card-title activator texto_text"><i class="fa fa-comments-o margin-icons" aria-hidden="true"></i> Solicitações de atendimento<i class="fa fa-ellipsis-v material-icons right" aria-hidden="true"></i> </span>
                    <p><a href="#">Ir para</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title texto_text">Solicitações de atendimento<i class="material-icons right">close</i></span>
                    <p class="texto_text">
                    <ul class="list-style">Nesse espaço, será possível realizar as seguintes ações de Atendimento:
                        <li>Responder</li>
                        <li>Listar</li>
                        <li>Vizualizar</li>
                        <li>Vloquear/Desbloquear</li>
                    </ul>
                    </p>
                    <p><a href="cadastro_admin" class="right">Ir para</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}