{% extends "master_suporte.html" %}

{% block titulo %} Cadastrar Estabelecimento {% endblock %}
{% block master %}
    <div class="row margin-form texto_text">
        <div class="col s12 m6">
            <!--Começo do formulário-->
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Insira os dados para cadastrar o estabelecimento:</span>
                </div>
                <div class="card-action">
                    <form method="POST" class="post-form col s12">{% csrf_token %}
                        <h6 class="light valign-wrapper form-title secundaria2_text" style="margin-top: 10px;"><i class="fa fa-building small" aria-hidden="true"></i><span> Empresa </span></h6>
                        <div class="row">
                            <!--<div class="input-field col s12">
                                <select id="ramo" name="select_ramo">
                                    <option value="" disabled selected>Selecione seu ramo</option>
                                    {% for entry in ramos %}
                                        <option value="{{ entry.id }}">{{ entry.nome }}</option>
                                    {% endfor %}
                                </select>
                                <label>Ramo</label>
                            </div>
                            <div class="col s12 suffix input-field">
                                <i class="fa fa-search material-icons secundaria2_text"></i>
                                <input id="ramo_atividade" name="ramo_atividade" type="text" class="validate">
                                {{ form.ramo_atividade.errors }}
                                <label for="ramo_atividade">Ramo de Atividade</label>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="nr_cnpj" name="nr_cnpj" type="number" class="validate">
                                {{ form.nr_cnpj.errors }}
                                <label for="nr_cnpj" data-error="Insira somente números">CNPJ</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="nome_fantasia" name="nome_fantasia" type="text" class="validate">
                                {{ form.nome_fantasia.errors }}
                                <label for="nome_fantasia">Nome Fantasia</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="razao_social" name="razao_social" type="text" class="validate">
                                {{ form.razao_social.errors }}
                                <label for="razao_social">Razão Social</label>
                            </div>
                        </div>
                        <h6 class="light valign-wrapper form-title secundaria2_text"><i class="fa fa-map-marker small" aria-hidden="true"></i><span> Endereço </span>
                        </h6>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="cep" name="cep" type="text" class="validate">
                                {{ form.cep.errors }}
                                <label for="cep" data-error="Insira somente números">CEP</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="logradouro" name="logradouro" type="text" class="validate">
                                {{ form.logradouro.errors }}
                                <label for="logradouro">Rua</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="nr_logradouro" name="nr_logradouro" type="number" class="validate">
                                {{ form.nr_logradouro.errors }}
                                <label for="nr_logradouro" data-error="Insira somente números">Número</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8">
                                <input id="bairro" name="bairro" type="text" class="validate">
                                {{ form.bairro.errors }}
                                <label for="bairro">Bairro</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="cidade" name="cidade" type="text" class="validate">
                                {{ form.cidade.errors }}
                                <label for="cidade">Cidade</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <select id="uf" name="uf">
                                    <option value="" disabled selected>Selecione</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PR">PR</option>
                                    <option value="PB">PB</option>
                                    <option value="PA">PA</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SE">SE</option>
                                    <option value="SP">SP</option>
                                    <option value="TO">TO</option>
                                </select>
                                {{ form.uf.errors }}
                                <label for="uf">Estado</label>
                            </div>
                        </div>
                        <h6 class="light valign-wrapper form-title secundaria2_text"><i class="small fa fa-comment" aria-hidden="true"></i><span> Contato </span>
                        </h6>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="email" name="email" type="email" class="validate">
                                {{ form.email.errors }}
                                <label for="email" data-error="E-mail inválido">E-mail</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="telefone" name="telefone" type="tel" class="validate">
                                {{ form.telefone.errors }}
                                <label for="telefone" data-error="Insira somente números">Telefone</label>
                            </div>
                        </div>
                        <h6 class="light valign-wrapper form-title secundaria2_text"><i class="small fa fa-user" aria-hidden="true"></i><span> Responsável </span>
                        </h6>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="nome_responsavel" name="nome_responsavel" type="text" class="validate">
                                {{ form.nome_responsavel.errors }}
                                <label for="nome_responsavel">Responsável</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="cargo_responsavel" name="cargo_responsavel" type="text" class="validate">
                                {{ form.cargo_responsavel.errors }}
                                <label for="cargo_responsavel">Cargo</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="cpf_responsavel" name="cpf_responsavel" type="number" class="validate">
                                {{ form.cpf_responsavel.errors }}
                                <label for="cpf_responsavel" data-error="Insira somente números">CPF</label>
                            </div>
                        </div>
                        <div class="row">
                            <small class="small right">ATENÇÃO: Todos os campos são obrigatórios</small>
                        </div>
                        <div class="row">
                            <!--Botão Cancelar-->
                            <div class="col s12 m6">
                                <button class="btn waveeffect wavelight right col s12 alerta_bg" type="reset"
                                        name="action">Cancelar
                                    <i class="fa fa-timecircle right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!--Fim do botão cancelar-->
                            <!--Botão Cadastrar-->
                            <div class="col s12 m6">
                                <button class="btn waveeffect wavelight right col s12 sucesso_bg" type="submit"
                                        name="action">Cadastrar
                                    <i class="fa fa-check-circle right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!--Fim do Botão Cadastrar-->
                        </div>
                    </form>
                    <a href=""></a>
                </div>
            </div>
            <!--Fim do formulário-->
        </div>
        <div class="col s12 m6">
            <div class="col s12">
                <div class="card white">
                    <div class="card-content texto_text">
                        <span id="table" class="card-title small">Lista de Estabelecimentos</span>
                    </div>
                    <div class="card-action">
                        <!--Começo da Tabela-->
                        <table class="highlight responsive-table">
                            <thead>
                            <tr>
                                <th data-field="nome">Nome Fantasia</th>
                                <th data-field="cnpj">CNPJ</th>
                                <th data-field="rua">Responsável</th>
                                <th data-field="acoes">Vizualizar</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for empresa in empresas %}
                                <tr>
                                    <td>{{ empresa.nome_fantasia }}</td>
                                    <td>{{ empresa.nr_cnpj }}</td>
                                    <td>{{ empresa.nome_responsavel }}</td>
                                    <td class="center">
                                        <!-- Botao que chama Modal -->
                                        <a class=" btn-floating btn-short wavelight btn btn modal-trigger"
                                           href="#estabelecimento"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <!-- Inicio da estrutura do Modal -->
                                <div id="estabelecimento" class="modal modal-fixed-footer base_text">
                                    <div class="modal-content">
                                        <div class="row">
                                            <div class="col s8">
                                                <h5 class="light valign-wrapper form-title"><i class="fa fa-building fa-2x" aria-hidden="true"></i><span> Ciclope SA <small>Scott Summers SA</small> </span>
                                                </h5>
                                            </div>
                                            <div class="col s4"><a href="" class="modal-action modal-close btn-flat base_text right">
                                                <i class="right fa fa-times" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="row">
                                            <!-- Dados do estabelecimento -->
                                            <div class="col s12">
                                                <div class="row">
                                                    <div class="row small-title">
                                                        <small class="secundaria1_v_text">Empresa</small>
                                                    </div>
                                                    <div class="col s2">
                                                        <span class="font18 white-text">Matriz:</span>
                                                    </div>
                                                    <div class="col s4">
                                                        <span class="font18 white-text">Xavier LTDA.</span>
                                                    </div>
                                                    <div class="col s2">
                                                        <span class="font18 white-text">CNPJ:</span>
                                                    </div>
                                                    <div class="col s4">
                                                        <span class="font18 white-text">26.390.093/1997-06</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s12">
                                                <div class="row">
                                                    <div class="row small-title">
                                                        <small class="secundaria1_v_text">Endereço</small>
                                                    </div>
                                                    <div class="col s6">
                                                        <span class="font18 white-text">Beco Diagonal, nº 42 - Bolsão - AB</span>
                                                    </div>
                                                    <div class="col s2">
                                                        <span class="font18 white-text">CEP:</span>
                                                    </div>
                                                    <div class="col s4">
                                                        <span class="font18 white-text">31.415-926</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s12">
                                                <div class="row">
                                                    <div class="row small-title">
                                                        <small class="secundaria1_v_text">Contato</small>
                                                    </div>
                                                    <div class="col s2">
                                                        <span class="font18 white-text">Telefone:</span>
                                                    </div>
                                                    <div class="col s4">
                                                        <span class="font18 white-text">(42) 9353-7390</span>
                                                    </div>
                                                    <div class="col s2">
                                                        <span class="font18 white-text">email:</span>
                                                    </div>
                                                    <div class="col s4">
                                                        <span class="font18 white-text">ciclope@xavier.com.br</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s12">
                                                <div class="row">
                                                    <div class="row small-title">
                                                        <small class="secundaria1_v_text">Responsável</small>
                                                    </div>
                                                    <div class="col s6">
                                                        <span class="font18 white-text">Pedro Ribeiro</span>
                                                    </div>

                                                    <div class="col s1">
                                                        <span class="font18 white-text">CPF:</span>
                                                    </div>
                                                    <div class="col s5">
                                                        <span class="font18 white-text">207.946.034-7</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <!-- Menu de acoes da Modal -->
                                        <div class="fixed-action-btn horizontal">
                                            <a class="btn-floating btn-short secundaria1_bg">
                                                <i class="fa fa-bars" aria-hidden="true"></i>
                                            </a>
                                            <ul>
                                                <li><a class="btn-floating secundaria1_bg"><i class="fa fa-ban" hidden="true"></i></a>
                                                </li>
                                                <li><a class="btn-floating secundaria1_bg"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim da estrutura do Modal -->
                            {% endfor %}
                            </tbody>
                        </table>
                        <!--Fim da tabela-->
                    </div>
                    <!--Começo da páginação da tabela-->
                    <div class="row" align="Right">
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="fa fa-chevron-circle-left"
                                                                 aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li class="waveeffect"><a href="#!">2</a></li>
                            <li class="waveeffect"><a href="#!">3</a></li>
                            <li class="waveeffect"><a href="#!">4</a></li>
                            <li class="waveeffect"><a href="#!">5</a></li>
                            <li class="waveeffect"><a href="#!"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></li>
                        </ul>
                        <!--Fim da páginação da tabela-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inicio da estrutura do Modal -->
    <div id="estabelecimento-inativo" class="modal modal-fixed-footer base_text"
         style="background-color: rgba(219, 61, 52, 0.90)">
        <div class="modal-content">
            <div class="row">
                <div class="col s8">
                    <h5 class="light valign-wrapper form-title table-disabled base_text"><i class="fa fa-building fa-2x"
                                                                                            aria-hidden="true"></i><span> Ciclope SA <small>Scott Summers SA</small> </span>
                    </h5>
                </div>
                <div class="col s4"><a href="" class="modal-action modal-close btn-flat base_text right"> <i
                        class="right fa fa-times" aria-hidden="true"></i></a></div>
            </div>
            <div class="row">
                <!-- Dados do estabelecimento -->
                <div class="col s12">
                    <div class="row">
                        <div class="row small-title">
                            <small>Empresa</small>
                        </div>
                        <div class="col s2">
                            <span class="font18 white-text">Matriz:</span>
                        </div>
                        <div class="col s4">
                            <span class="font18 white-text">Xavier LTDA.</span>
                        </div>
                        <div class="col s2">
                            <span class="font18 white-text">CNPJ:</span>
                        </div>
                        <div class="col s4">
                            <span class="font18 white-text">26.390.093/1997-06</span>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="row small-title">
                            <small>Endereço</small>
                        </div>
                        <div class="col s6">
                            <span class="font18 white-text">Beco Diagonal, nº 42 - Bolsão - AB</span>
                        </div>
                        <div class="col s2">
                            <span class="font18 white-text">CEP:</span>
                        </div>
                        <div class="col s4">
                            <span class="font18 white-text">31.415-926</span>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="row small-title">
                            <small>Contato</small>
                        </div>
                        <div class="col s2">
                            <span class="font18 white-text">Telefone:</span>
                        </div>
                        <div class="col s4">
                            <span class="font18 white-text">(42) 9353-7390</span>
                        </div>
                        <div class="col s2">
                            <span class="font18 white-text">email:</span>
                        </div>
                        <div class="col s4">
                            <span class="font18 white-text">ciclope@xavier.com.br</span>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="row small-title">
                            <small>Responsável</small>
                        </div>
                        <div class="col s6">
                            <span class="font18 white-text">Pedro Ribeiro</span>
                        </div>

                        <div class="col s1">
                            <span class="font18 white-text">CPF:</span>
                        </div>
                        <div class="col s5">
                            <span class="font18 white-text">207.946.034-7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- Menu de acoes da Modal -->
            <div class="fixed-action-btn horizontal">
                <a class="btn-floating btn-short alerta_bg">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul>
                    <li><a class="btn-floating alerta_bg tooltipped" data-position="top" data-delay="50" data-tooltip="Ativar"><i class="fa fa-check" aria-hidden="true"></i></a></li>
                    <li><a class="btn-floating alerta_bg tooltipped" data-position="top" data-delay="50" data-tooltip="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Fim da estrutura do Modal -->
{% endblock %}